<!--
    HTMLLint is an internal tool that fails on this file due to non-localized example labels,
    there is no need for this comment and the one below in real-world extensions.
-->
<!-- HTMLLint Disable LabelExistsValidator -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>MenuView</title>
</head>
<body>
    <div class="MenuView">
        <div data-bind="msPosHeaderSplitView: headerSplitView">
            <div class="grow marginBottom48 scrollY">
                <div class="pad20 col width680">
                    <h3>msPosMenu</h3>
                    <div class="pad8">
                        <button data-bind="click: showMenu">Menu anchor</button>
                        <div data-bind="msPosMenu: menu">
                        </div>
                        <button data-bind="click: showMenu">Another menu anchor</button>
                    </div>
                    <div class="h4 padTop40">ViewModel interface</div>
                    <textarea class="height220">
    export interface IMenuState {
        placement?: MenuPlacementOptions;
        alignment?: MenuAlignmentOptions;
        commands?: IMenuCommandState[];
    }

    export interface IMenuCommandState {
        id: string;
        label: string;
        onClick?: MenuCommandClickCallback;
    }
                    </textarea>
                    <div class="h4 padTop40">Controller syntax</div>
                    <textarea class="height220">
    import * as NewView from "PosApi/Create/Views";
    import * as HeaderSplitView from "PosUISdk/Controls/HeaderSplitView";

    import * as Menu from "PosUISdk/Controls/Menu";

    /**
     * The controller for MenuView.
     */
    export default class MenuView extends NewView.ExtensionViewControllerBase {
        public readonly headerSplitView: HeaderSplitView.HeaderSplitView;
        public readonly menu: Menu.Menu;

        constructor(context: NewView.IExtensionViewControllerContext) {
            // Do not save in history
            super(context, false);

            this.headerSplitView = new HeaderSplitView.HeaderSplitView({
                title: "Menu sample"
            });

            this.menu = new Menu.Menu({
                commands: [
                    {
                        id: "MenuCommand1",
                        label: "Menu command 1",
                        onClick: this.menuCommandClick.bind(this)
                    }, {
                        id: "MenuCommand2",
                        label: "Menu command 2",
                        onClick: this.menuCommandClick.bind(this)
                    }
                ]
            });
        }

        /**
         * Bind the html element with view controller.
         *
         * @param {HTMLElement} element DOM element.
         */
        public onReady(element: HTMLElement): void {
            super.onReady(element);

            // Customized binding
            ko.applyBindings(this, element);
        }

        /**
         * Callback for menu.
         * @param {MenuView} controller View controller.
         * @param {Event} eventArgs Html event.
         */
        public showMenu(controller: MenuView, eventArgs: Event): void {
            this.menu.show(<HTMLElement>event.currentTarget);
        }

        /**
         * Callback for menu command.
         * @param {IMenuCommandClickArgs} args Menu command arguments.
         */
        private menuCommandClick(args: Menu.IMenuCommandClickArgs): void {
            this.context.logger.logInformational("menuCommandClick: " + args.id);
        }
    }
                    </textarea>
                    <div class="h4 padTop40">HTML syntax</div>
                    <textarea class="height220">
    <button data-bind="click: showMenu">Menu anchor</button>
    <div data-bind="msPosMenu: menu">
    </div>
    <button data-bind="click: showMenu">Another menu anchor</button>
                    </textarea>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
