<!--
    HTMLLint is an internal tool that fails on this file due to non-localized example labels,
    there is no need for this comment and the one below in real-world extensions.
-->
<!-- HTMLLint Disable LabelExistsValidator -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ToggleMenuView</title>
</head>
<body>
    <div class="ToggleMenuView">
        <div data-bind="msPosHeaderSplitView: headerSplitView">
            <div class="grow marginBottom48 scrollY">
                <div class="pad20 col width680">
                    <h3>msPosToggleMenu</h3>
                    <div class="pad8">
                        <div data-bind="msPosToggleMenu: toggleMenu">
                        </div>
                        <button data-bind="click: showToggleMenu">Show toggle menu</button>
                    </div>
                    <div class="h4 padTop40">ViewModel interface</div>
                    <textarea class="height220">
    export interface IToggleMenuState {
        placement?: MenuPlacementOptions;
        alignment?: MenuAlignmentOptions;
        commands?: IToggleMenuCommandState[];
    }

    export interface IMenuCommandState {
        id: string;
        label: string;
        onClick?: MenuToggleCommandClickCallback;
        selected?: boolean;
    }
                    </textarea>
                    <div class="h4 padTop40">Controller syntax</div>
                    <textarea class="height220">
    import * as NewView from "PosApi/Create/Views";
    import * as HeaderSplitView from "PosUISdk/Controls/HeaderSplitView";

    import * as Menu from "PosUISdk/Controls/Menu";

    /**
     * The controller for ToggleMenuView.
     */
    export default class ToggleMenuView extends NewView.ExtensionViewControllerBase {
        public readonly headerSplitView: HeaderSplitView.HeaderSplitView;
        public readonly toggleMenu: Menu.ToggleMenu

        constructor(context: NewView.IExtensionViewControllerContext) {
            // Do not save in history
            super(context, false);

            this.headerSplitView = new HeaderSplitView.HeaderSplitView({
                title: "AppBar sample"
            });

            this.toggleMenu = new Menu.ToggleMenu({
                placement: "bottom",
                commands: [{
                    id: "MenuCommand1",
                    label: "Menu command 1",
                    onClick: this.menuCommandClick.bind(this)
                }, {
                    id: "MenuCommand2",
                    label: "Menu command 2",
                    selected: true,
                    onClick: this.menuCommandClick.bind(this)
                }]
            });
        }

        /**
         * Bind the html element with view controller.
         *
         * @param {HTMLElement} element DOM element.
         */
        public onReady(element: HTMLElement): void {
            super.onReady(element);

            // Customized binding
            ko.applyBindings(this, element);
        }

        public showToggleMenu(data: any, event: Event): void {
            this.toggleMenu.show(<HTMLElement>event.currentTarget);
        }

        private menuCommandClick(args: Menu.IToggleMenuCommandClickArgs): void {
            this.context.logger.logInformational(JSON.stringify(args));
        }
    }
                    </textarea>
                    <div class="h4 padTop40">HTML syntax</div>
                    <textarea class="height220">
    <div data-bind="msPosToggleMenu: toggleMenu">
    </div>
    <button data-bind="click: showToggleMenu">Show toggle menu</button>
                    </textarea>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
