<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Show Journal View</title>
    <link href="ShowJournalView.css" rel="stylesheet" />
</head>
<body>
    <div class="showJournalView fragment" data-bind="with: viewModel">
        <!-- Progress ring -->

        <div data-bind="loader: { visible: isBusy }"></div>

        <!-- Page header -->
        <div data-bind="headerSplitView: { title: title }">

            <div class="section main row marginBottom12 marginLeft20 marginRight20" data-bind="resx: { ariaLabel: 'string_4454' }">

                <!-- Main content -->
                <div class="col grow flexBasis100Percent" data-bind="visible: !isReceiptSelected()">

                    <!-- Journals -->
                    <div class="col grow flexBasis100Percent" data-bind="sectionWrapper: {headerResx: 'string_4080' }">
                        <!-- Transactions -->
                            <div id="browseGridTransactions" class="col grow flexBasis100Percent">
                                <!-- ko if: mode === Commerce.ViewModels.ShowJournalMode.ShowJournal -->
                                <div id="transactionList"
                                     data-bind="dataList: {
                                          incrementalDataSource: {
                                              dataManager: $data,
                                              callerMethod: getJournalTransactionsAsync,
                                              pageSize: 20,
                                              onLoading: isBusyFlag,
                                              reloadCallBack: reloadTransactionsCallback
                                          },
                                          selectionModes: Commerce.Controls.DataList.SelectionMode.SingleSelect,
                                          selectionChanged: journalSelectionChangedHandlerAsync,
                                          autoSelectFirstItem: true,
                                          autoFocusFirstItem: true,
                                          ariaLabelResx: 'string_4182',
                                          columns: transactionListColumns
                                       }, axBubbleAttr: 'showJournalView_journalTransactions'">
                                </div>
                                <!-- /ko -->
                                <!-- ko if: mode === Commerce.ViewModels.ShowJournalMode.SingleCustomerSalesOrder  -->
                                <div id="salesOrderList"
                                     data-bind="dataList: {
                                          incrementalDataSource: {
                                              dataManager: $data,
                                              callerMethod: getSalesOrderDetailsAsync,
                                              pageSize: 20,
                                              onLoading: isBusyFlag
                                          },
                                          selectionModes: Commerce.Controls.DataList.SelectionMode.SingleSelect,
                                          selectionChanged: journalSelectionChangedHandlerAsync,
                                          autoSelectFirstItem: true,
                                          autoFocusFirstItem: true,
                                          ariaLabelResx: 'string_4182',
                                          columns: [
                                              { titleResx: 'string_4064', ratio: 20, collapseOrder: 7, minWidth: 200, field: 'CreatedDateTime', converter: 'Commerce.Core.Converter.ShortDateAndTime' },
                                              { titleResx: 'string_4047', ratio: 10, collapseOrder: 1, minWidth: 100, field: 'StaffId', converter: 'Commerce.Core.Converter.textContentFormatter' },
                                              { titleResx: 'string_4043', ratio: 15, collapseOrder: 2, minWidth: 100, field: 'TerminalId', converter: 'Commerce.Core.Converter.textContentFormatter' },
                                              { titleResx: 'string_4066', ratio: 15, collapseOrder: 3, minWidth: 200, field: 'TransactionTypeValue', converter: 'Commerce.Core.Converter.TransactionTypeFormatter' },
                                              { titleResx: 'string_3712', ratio: 10, collapseOrder: 4, minWidth: 100, field: '$data', converter: 'Commerce.Core.Converter.CustomerOrderHistoryStatusFormatter' },
                                              { titleResx: 'string_4065', ratio: 20, collapseOrder: 6, minWidth: 200, field: 'ReceiptId', converter: 'Commerce.Core.Converter.textContentFormatter' },
                                              { titleResx: 'string_4024', ratio: 10, collapseOrder: 5, minWidth: 100, field: 'TotalAmount', converter: 'Commerce.Core.Converter.PriceFormatter', isRightAligned: true }
                                          ]
                                       }, axBubbleAttr: 'showJournalView_salesOrders'">
                                </div>
                                <!-- /ko -->
                                <!-- ko if: mode === Commerce.ViewModels.ShowJournalMode.CustomerSalesOrders -->
                                <div id="salesOrderByCustomerList"
                                     data-bind="dataList: {
                                          incrementalDataSource: {
                                              dataManager: $data,
                                              callerMethod: getSalesOrdersByCustomerIdAsync,
                                              pageSize: 20,
                                              onLoading: isBusyFlag
                                          },
                                          selectionModes: Commerce.Controls.DataList.SelectionMode.SingleSelect,
                                          selectionChanged: journalSelectionChangedHandlerAsync,
                                          autoSelectFirstItem: true,
                                          autoFocusFirstItem: true,
                                          ariaLabelResx: 'string_4182',
                                          columns: customerOrderHistoryListColumns
                                       }, axBubbleAttr: 'showJournalView_salesOrdersByCustomerId'">
                                </div>
                                <!-- /ko -->
                            </div>
                    </div>

                    <div class="gutter20x20"></div>

                    <!-- Transaction lines -->
                    <div class="col grow flexBasis100Percent">
                        <div class="row marginBottom08">
                            <div class="marginRight40"><h2 id="linesTabText" role="tab" class="tabFontColor outlineFocus" tabindex="0" data-bind="css: { active: salesOrderDetailsMode() == Commerce.ViewModels.ShowJournalSalesOrderDetailsMode.Items }, click: toggleSalesOrderDetailsMode, enterKeyPress: toggleSalesOrderDetailsMode, resx: { textContent: 'string_181' }, axBubbleAttr: 'showJournalView_linesTabText'">Lines</h2></div>
                            <div class="marginRight40"><h2 id="paymentsTabText" role="tab" class="tabFontColor outlineFocus" tabindex="0" data-bind="css: { active: salesOrderDetailsMode() == Commerce.ViewModels.ShowJournalSalesOrderDetailsMode.Payments }, click: toggleSalesOrderDetailsMode, enterKeyPress: toggleSalesOrderDetailsMode, resx: { textContent: 'string_182' }, axBubbleAttr: 'showJournalView_paymentsTabText'">Payments</h2></div>
                        </div>
                        <!-- Default grid to show -->
                        <div class="standardGrid transactionLinesGrid">
                            <div class="col grow" data-bind="visible: salesOrderDetailsMode() == Commerce.ViewModels.ShowJournalSalesOrderDetailsMode.Items">
                                <div class="standardGrid" data-bind="visible: mode === Commerce.ViewModels.ShowJournalMode.ShowJournal && incomeExpenseAccountLines().length == 0 && customerAccountDepositLines().length == 0,
                                    listView: {
                                        itemDataSource: salesLines,
                                        headerRowClass: 'tillLayout-SelectedLinesFields',
                                        rowClass: 'tillLayout-SelectedLinesFields',
                                        selectionMode: 'none',
                                        strikethroughRow: 'IsVoided',
                                        displayMode: Commerce.ListView.DisplayMode.Expandable,
                                        expandableRowConverter: isTransactionGridRowExpandable.bind($parent),
                                        rowExpandedTemplateId: 'ShowJournallineItemColspan',
                                        columns: [
                                            { titleResx: 'string_4446', cssClass: 'ratio3 listView-cell-ellipsis', field: 'ItemId' },
                                            { titleResx: 'string_110', cssClass: 'ratio3' , field: 'productName' },
                                            { titleResx: 'string_111' , cssClass: 'ratio2 textRight' , field: 'Quantity' },
                                            { titleResx: 'string_1238' , cssClass: 'ratio2 textRight' , field: 'NetAmountWithAllInclusiveTax' , converter: 'Commerce.Core.Converter.PriceFormatter' }
                                        ],
                                        ariaLabelResx: 'string_181' /* Lines */
                                 },
                                 axBubbleAttr: 'showJournalView_salesLines'">
                                </div>

                                <div class="standardGrid"
                                     data-bind="visible: incomeExpenseAccountLines().length > 0,
                                    listView: {
                                        itemDataSource: incomeExpenseAccountLines,
                                        headerRowClass: 'tillLayout-SelectedLinesFields',
                                        rowClass: 'tillLayout-SelectedLinesFields',
                                        selectionMode: 'none',
                                        columns: [
                                            { titleResx: 'string_4131', cssClass: 'ratio5', field: 'AccountTypeValue', converter: 'Commerce.Core.Converter.IncomeExpenseAccountTypeFormatter' },
                                            { titleResx: 'string_4057', cssClass: 'ratio3 textRight', field: 'IncomeExpenseAccount' },
                                            { titleResx: 'string_4024', cssClass: 'ratio2 textRight', field: 'Amount', converter: 'Commerce.Core.Converter.PriceFormatter' }
                                        ],
                                        ariaLabelResx: 'string_4054', /* Accounts */
                                        axBubbleAttr: 'showJournalView_incomeExpenseAccountLines'
                                 }">
                                </div>

                                <div class="standardGrid"
                                     data-bind="visible: customerAccountDepositLines().length > 0,
                                    listView: {
                                        itemDataSource: customerAccountDepositLines,
                                        selectionMode: 'none',
                                        displayMode: Commerce.ListView.DisplayMode.Expandable,
                                        expandableRowConverter: isCustomerAccountDepositGridRowExpandable.bind($parent),
                                        rowExpandedTemplateId: 'ShowJournalCustomerAccountDepositLineItemColspan',
                                        columns: [
                                            { titleResx: 'string_110', cssClass: 'ratio7', defaultValueResx: 'string_1927' },
                                            { titleResx: 'string_4024', cssClass: 'ratio3 textRight', field: 'Amount', converter: 'Commerce.Core.Converter.PriceFormatter' }
                                        ],
                                        ariaLabelResx: 'string_6158', /* Customer account deposit */
                                        axBubbleAttr: 'showJournalView_customerAccountDepositLines'
                                 }">
                                </div>

                                <!-- Transaction lines grid for customer order history page only. -->>
                                <div class="standardGrid" data-bind="visible: mode === Commerce.ViewModels.ShowJournalMode.CustomerSalesOrders || mode === Commerce.ViewModels.ShowJournalMode.SingleCustomerSalesOrder,
                                    listView: {
                                        itemDataSource: salesLines,
                                        headerRowClass: 'tillLayout-SelectedLinesFields',
                                        rowClass: 'tillLayout-SelectedLinesFields',
                                        selectionMode: 'none',
                                        strikethroughRow: 'IsVoided',
                                        displayMode: Commerce.ListView.DisplayMode.Expandable,
                                        expandableRowConverter: isTransactionGridRowExpandable.bind($parent),
                                        rowExpandedTemplateId: 'ShowJournallineItemColspan',
                                        columns: [
                                            { titleResx: 'string_110', cssClass: 'ratio5' , field: 'productName' },
                                            { titleResx: 'string_4067' , cssClass: 'ratio2 textRight' , field: '$data' , converter: 'Commerce.Core.Converter.OrderedQuantityFormatter'},
                                            { titleResx: 'string_4068' , cssClass: 'ratio2 textRight' , field: '$data' , converter: 'Commerce.Core.Converter.InvoicedQuantityFormatter'},
                                            { titleResx: 'string_112' , cssClass: 'ratio1 textRight' , field: 'NetAmount' , converter: 'Commerce.Core.Converter.PriceFormatter' }
                                        ],
                                        ariaLabelResx: 'string_181' /* Lines */
                                 },
                                 axBubbleAttr: 'showJournalView_salesLines'">
                                </div>
                            </div>
                            <div class="standardGrid"
                                 data-bind="visible: salesOrderDetailsMode() == Commerce.ViewModels.ShowJournalSalesOrderDetailsMode.Payments">
                                <div class="standardGrid" data-bind="listView: {
                                        itemDataSource: tenderLines,
                                        headerRowClass: 'tillLayout-SelectedLinesFields',
                                        rowClass: 'tillLayout-SelectedLinesFields',
                                        strikethroughRowConverter: isPaymentVoided,
                                        strikethroughEnabled: true,
                                        selectionMode: 'none',
                                        displayMode: Commerce.ListView.DisplayMode.Expandable,
                                        expandableRowConverter: isTenderLineRowExpandable.bind($parent),
                                        rowExpandedTemplateId: 'ShowJournalTenderLineItemColspan',
                                        columns: [
                                            { titleResx: 'string_114', cssClass: 'ratio3', field: '$data', converter: 'Commerce.Core.Converter.TenderLineNameFormatter' },
                                            { titleResx: 'string_126', cssClass: 'ratio3', field: '$data', converter: 'Commerce.Core.Converter.TenderLineMoreInformationFormatter' },
                                            { titleResx: 'string_115', cssClass: 'ratio2 textRight', field: 'Currency' },
                                            { titleResx: 'string_116', cssClass: 'ratio2 textRight', field: '$data', converter: 'Commerce.Core.Converter.AmountInTenderedCurrencyFormatter' }
                                        ],
                                        ariaLabelResx: 'string_182' /* Payments */
                                    },
                                    axBubbleAttr: 'showJournalView_tenderLines'">
                                </div>
                            </div>

                            <script type="text/html" id="ShowJournallineItemColspan">
                                <div class="lineItemVariant secondaryFontColor row" data-bind="visible: !Commerce.StringExtensions.isNullOrWhitespace($data.variantDescription)">
                                    <div class="h4" data-bind="text: $data.variantDescription"></div>
                                </div>
                                <div class="lintItemPriceOverrideText secondaryFontColor" data-bind="visible: $data.IsPriceOverridden">
                                    <div class="h4" data-bind="text: $data.priceOverrideInformation"></div>
                                </div>
                                <div class="lineItemComment secondaryFontColor row" data-bind="visible: !Commerce.StringExtensions.isNullOrWhitespace($data.Comment)">
                                    <div class="h4" data-bind="text: $data.Comment"></div>
                                </div>
                                <div class="lineItemSerialNumber secondaryFontColor row" data-bind="visible: !Commerce.StringExtensions.isNullOrWhitespace($data.SerialNumber)">
                                    <div class="h4" data-bind="text: $data.SerialNumber"></div>
                                </div>
                                <div class="lineItemBarcode secondaryFontColor row" data-bind="visible: !Commerce.StringExtensions.isNullOrWhitespace($data.Barcode)">
                                    <div class="h4" data-bind="text: $data.Barcode"></div>
                                </div>
                                <!-- ko if: Commerce.ApplicationContext.Instance.deviceConfiguration.DisplayTaxExemptInLineDetails && !Commerce.StringExtensions.isNullOrWhitespace($data.TaxOverrideCode) && $data.IsTaxOverideCodeTaxExempt -->
                                <div class="taxOverrideCodeLabel secondaryFontColor row">
                                    <div class="h4" data-bind="resx: { textContent: 'string_4487' }">Tax Exempt</div>
                                </div>
                                <div class="taxOverrideCode secondaryFontColor row">
                                    <div class="h4" data-bind="text: Commerce.Formatters.taxExemptCodeFormatter($data.TaxOverrideCode)">
                                    </div>
                                </div>
                                <!-- /ko -->
                                <div class="secondaryFontColor" data-bind="foreach: { data: $data.DiscountLines, as: 'discountLine' }">
                                    <div class="row">
                                        <div class="h4" data-bind="text: Commerce.DiscountsHelper.getDiscountTypeName(discountLine, $parent.Price, $parent.Quantity)"></div>
                                    </div>
                                </div>
                                <!-- ko foreach: $root.linesGridItemSubfieldsViewModel.customGridItemSubfields -->
                                <div class="secondaryFontColor row" data-bind="visible: $data.isVisible($parent)">
                                    <div class="h4" data-bind="text: $data.computeValue($parent)"></div>
                                </div>
                                <!-- /ko -->
                            </script>
                            <script type="text/html" id="ShowJournalCustomerAccountDepositLineItemColspan">
                                <div class="lineItemComment secondaryFontColor row" data-bind="visible: $data.Comment.length > 0">
                                    <div class="h4" data-bind="text: $data.Comment"></div>
                                </div>
                            </script>
                            <script type="text/html" id="ShowJournalTenderLineItemColspan">
                                <div class="secondaryFontColor row" data-bind="visible: !Commerce.StringExtensions.isNullOrWhitespace($data.CreditMemoId)">
                                    <div class="h4" data-bind="resx: { textContent: 'string_1147' }">Credit Memo Number</div>
                                    <div class="h4">:&nbsp;</div>
                                    <div class="h4" data-bind="text: $data.CreditMemoId"></div>
                                </div>
                            </script>
                        </div>
                    </div>
                </div>

                <div class="gutter20x20" data-bind="visible: !isReceiptSelected()"></div>

                <div class="flip col no-shrink" data-bind="visible: !isReceiptSelected()">

                    <div id="CustomerPanel" class="col no-shrink grow width280" data-bind="sectionWrapper: {headerResx: 'string_136' }">
                        <!-- Customer -->
                        <div class="height212">
                            <div class="center primaryPanelBackgroundColor highContrastBorder" data-bind="if:!selectedSalesOrder(), visible:!selectedSalesOrder() && !hasActiveCustomer">
                                <div class="textCenter margin52">
                                    <div class="h4" data-bind="resx: { textContent: 'string_4165' }">Select a transaction.</div>
                                </div>
                            </div>
                            <div class="center primaryPanelBackgroundColor highContrastBorder" data-bind="if: selectedSalesOrder(), visible: selectedSalesOrder() && !hasActiveCustomer()">
                                <div class="textCenter margin52">
                                    <div class="h4" data-bind="resx: { textContent: 'string_4430' },visible: selectedSalesOrder().CustomerId.length==0">There is no customer associated with this sale.</div>
                                    <div class="h4" data-bind="resx: { textContent: 'string_4170' },visible: selectedSalesOrder().CustomerId.length!=0">Customer cannot be found.</div>
                                </div>
                            </div>
                            <div data-bind="customerCard: {data: CustomerCardViewModel, template: 'customerContactCardTemplate'}, visible: hasActiveCustomer"></div>
                        </div>
                    </div>
                        <div id="TotalsPanel" class="minWidth252 maxWidth312 col no-shrink grow">
                            <div class="col grow primaryPanelBackgroundColor highContrastBorderThin">
                                <div class="center" data-bind="visible: !selectedSalesOrder()">
                                    <div class="textCenter margin52">
                                        <div class="h4" data-bind="resx: { textContent: 'string_4165' }">Select a transaction.</div>
                                    </div>

                                </div>

                                <div class="col grow layoutControl transactionDetails panel"
                                     data-bind="with: selectedSalesOrder, visible: selectedSalesOrder(), axBubbleAttr: 'showJournalView_totalsPanel'">
                                    <div class="fields row">
                                        <div class="left grow">
                                            <div id="DiscountsField" data-bind="visible: DiscountAmount, axBubbleAttr: 'showJournalView_discountsField'">
                                                <div class="row pad12 padTop8 padBottom0">
                                                    <div class="secondaryFontColor"><div class="h6" data-bind="resx: { textContent: 'string_118' }">DISCOUNTS</div></div>
                                                    <div class="textRight"><div class="h4" data-bind="formatPrice: DiscountAmount"></div></div>
                                                </div>
                                            </div>
                                            <div id="SubtotalField" data-bind="axBubbleAttr: 'showJournalView_subtotalField'">
                                                <div class="row pad12 padTop8 padBottom0">
                                                    <div class="secondaryFontColor"><div class="h6" data-bind="resx: { textContent: 'string_120' }">SUBTOTAL</div></div>
                                                    <div class="textRight"><div class="h4" data-bind="formatPrice: SubtotalAmount"></div></div>
                                                </div>
                                            </div>
                                            <div id="ChargeField" data-bind="visible: ChargeAmount, axBubbleAttr: 'showJournalView_chargeField'">
                                                <div class="row pad12 padTop8 padBottom0">
                                                    <div class="secondaryFontColor"><div class="h6" data-bind="resx: { textContent: 'string_4323' }">CHARGES</div></div>
                                                    <div class="textRight"><div class="h4" data-bind="formatPrice: ChargeAmount"></div></div>
                                                </div>
                                            </div>
                                            <div id="TaxField" data-bind="axBubbleAttr: 'showJournalView_taxField'">
                                                <div class="row pad12 padTop8 padBottom0">
                                                    <div class="secondaryFontColor"><div class="h6" data-bind="resx: { textContent: 'string_119' }">TAX</div></div>
                                                    <div class="textRight"><div class="h4" data-bind="formatPrice: TaxAmount"></div></div>
                                                </div>
                                            </div>
                                            <div id="TotalField" data-bind="axBubbleAttr: 'showJournalView_totalField'">
                                                <div class="row pad12 padTop8 padBottom0">
                                                    <div class="secondaryFontColor"><div class="h6" data-bind="resx: { textContent: 'string_140' }">TOTAL</div></div>
                                                    <div class="textRight"><div class="h4" data-bind="formatPrice: TotalAmount"></div></div>
                                                </div>
                                            </div>
                                            <div id="EmptyLine" data-bind="axBubbleAttr: 'showJournalView_emptyLine'">
                                                <div class="row pad12 padTop8 padTop8 padBottom0"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pad12 padTop8 panel-footer">
                                        <div class="secondaryFontColor height16">
                                            <div class="h6" data-bind="resx: { textContent: 'string_1818' }">Total paid</div>
                                        </div>
                                        <div class="textRight height44">
                                            <div class="h1" data-bind="formatPrice: AmountPaid"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                <div class="receiptPreview grow" data-bind="visible: isReceiptSelected">
                    <pre data-bind="html: receiptText"></pre>
                </div>

            </div>

            <!-- Show receipt flyout menu options -->
            <div id="showReceiptFlyout" data-bind="menu: { anchor: '#showReceipt', placement: 'top', alignment: 'left' }, axBubbleAttr: 'showJournalView_showReceiptFlyout'">
                <button data-bind="menuCommand: {id: 'showReceiptCommand'}, resx: { label: 'string_4072' }, click: getReceiptForSelectedOrderAsync, axBubbleAttr: 'showJournalView_showReceiptCommand'"></button>
                <button data-bind="menuCommand: {id: 'showGiftReceiptCommand'}, resx: { label: 'string_4181' }, winControl: { disabled: disableGiftReceipt }, click: getGiftReceiptForSelectedOrderAsync, axBubbleAttr: 'showJournalView_showGiftReceiptCommand'"></button>
            </div>

            <!-- Bottom app bar -->
            <div id="commandAppBar" data-bind="appBar:{ extensionCommands: extensionCommandViewModels }, axBubbleAttr: 'showJournalView_commandAppBar'">
                <!-- Buttons visible in default mode -->
                <button data-bind="appBarCommand: {
                    extraClass: 'iconSearch',
                    id: 'advancedSearchCommand',
                    section: 'selection',
                    onclick: performAdvancedTransactionSearch,
                    labelResx: 'string_4567',
                    visible: !isReceiptSelected() && mode === Commerce.ViewModels.ShowJournalMode.ShowJournal },
                    axBubbleAttr: 'showJournalView_advancedSearchCommand'"></button> <!--Advanced search-->

                <button data-bind="appBarCommand: {
                    id: 'showReceipt',
                    extraClass: 'iconInvoice',
                    type: 'flyout',
                    flyout: '#showReceiptFlyout',
                    disabled: !isReceiptAvailable(),
                    labelResx: 'string_4072',
                    visible: !isReceiptSelected() && allowReceiptActions},
                    axBubbleAttr: 'showJournalView_showReceipt'"></button><!--Show receipt-->


                <button data-bind="appBarCommand: {
                    id:'returnOperationAppBar',
                    extraClass: 'iconProductReturn',
                    onclick: returnTransactionAsync,
                    labelResx: 'string_4071',
                    enabled: allowReturnTransaction,
                    visible: !isReceiptSelected() },
                    axBubbleAttr: 'showJournalView_returnOperationAppBar'"></button><!--Return-->

                <!-- Buttons visible in preview mode -->
                <button data-bind="appBarCommand: {
                    id:'printReceiptsCommand',
                    extraClass: 'iconPrint',
                    onclick: printReceiptsAsync,
                    labelResx: 'string_1808',
                    enabled: isSelectedReceiptPrintable && !isPrinting(),
                    visible: isReceiptSelected },
                    axBubbleAttr: 'showJournalView_printReceiptsCommand'"></button><!--Print-->

                <button data-bind="appBarCommand: {
                    id:'cancelShowReceiptCommand',
                    extraClass: 'iconCancel',
                    onclick: clearReceiptSelection,
                    labelResx: 'string_80',
                    visible: isReceiptSelected },
                    axBubbleAttr: 'showJournalView_cancelShowReceiptCommand'"></button><!--Close-->
            </div>
        </div>
    </div>
</body>
</html>
