<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CustomersView</title>
    <link href="CustomerAddEditView.css" rel="stylesheet" />
</head>
<body>
    <form autocomplete="off">
        <div class="fragment customerAddEditView">
            <!-- Indeterminate wait -->
            <div data-bind="loader: { visible: viewModel.isBusy }"></div>

            <!-- Page header -->
            <div data-bind="headerSplitView: { title: viewModel.viewTitle }">
                <div class="section main scrollY marginTop12" data-bind="resx: { ariaLabel: 'string_4454' }">
                    <!-- Main content -->
                    <div class="col grow-landscape marginLeft12 marginRight12 minWidth240 maxWidth320">
                        <div class="marginBottom12">
                            <!-- Customer type -->
                            <div class="marginBottom20">
                                <label for="customerTypeInput" data-bind="resx: { textContent: 'string_1300' }">Type</label>
                                <select tabindex="1" id="customerTypeInput"
                                        data-bind="enable: viewModel.allowChangeCustomerType,
                                        options: viewModel.customerTypes,
                                        optionsText: 'Name',
                                        optionsValue: 'Code',
                                        value: viewModel.customerProxy.CustomerTypeValue,
                                        optionsCaption: Commerce.ViewModelAdapter.getResourceString('string_1301'),
                                        attr: { 'title': Commerce.ViewModelAdapter.getResourceString('string_1301') }">
                                </select>
                            </div>

                            <!-- Customer group -->
                            <div class="marginBottom20">
                                <label for="customerGroupOptions" data-bind="resx: { textContent: 'string_1302' }">Customer Group</label>
                                <select tabindex="2" id="customerGroupOptions"
                                        data-bind="options: viewModel.customerGroups,
                                        optionsText: 'CustomerGroupName',
                                        optionsValue: 'CustomerGroupNumber',
                                        value: viewModel.customerProxy.CustomerGroup,
                                        optionsCaption: Commerce.ViewModelAdapter.getResourceString('string_1303'),
                                        attr: { 'title': Commerce.ViewModelAdapter.getResourceString('string_1303') }">
                                </select>
                            </div>
                        </div>
                        <!-- Contact Info header -->
                        <div class="row marginBottom12 ">
                            <h2 data-bind="resx: { textContent: 'string_1304' }">Contact information</h2>
                        </div>

                        <div>
                            <!-- Company -->
                            <div class="marginBottom20" data-bind="visible: !viewModel.customerIsPerson(), enableAll: !viewModel.customerIsPerson()">
                                <label for="companyNameInput" data-bind="resx: { textContent: 'string_1308' }">Company</label>
                                <input tabindex="3" type="text" id="companyNameInput"
                                       data-bind="validator: {
                                        data: viewModel.customerProxy,
                                        field: 'Name',
                                        validatorType: 'CustomerValidator'
                                    }" />
                            </div>

                            <!-- First name -->
                            <div class="marginBottom20" data-bind="visible: viewModel.customerIsPerson, enableAll: viewModel.customerIsPerson">
                                <label for="customerFirstNameInput" data-bind="resx: { textContent: 'string_1305' }">First Name</label>
                                <input tabindex="3" type="text" id="customerFirstNameInput"
                                       data-bind="validator: {
                                        data: viewModel.customerProxy,
                                        field: 'FirstName',
                                        validatorType: 'CustomerValidator'
                                    }" />
                            </div>
                        </div>

                        <div>
                            <!-- Last name -->
                            <div class="marginBottom20" data-bind="visible: viewModel.customerIsPerson, enableAll: viewModel.customerIsPerson">
                                <label for="customerLastNameInput" data-bind="resx: { textContent: 'string_1307' }">Last Name</label>
                                <input tabindex="4" type="text" id="customerLastNameInput"
                                       data-bind="validator: {
                                        data: viewModel.customerProxy,
                                        field: 'LastName',
                                        validatorType: 'CustomerValidator'
                                    }" />
                            </div>
                        </div>

                        <div>
                            <!-- Contact email address -->
                            <div class="marginBottom20">
                                <label for="customerContactEmailInput" data-bind="resx: { textContent: 'string_4845' }">Contact email address</label>
                                <input tabindex="5" type="text" id="customerContactEmailInput"
                                       data-bind="validator: {
                                        data: viewModel.customerProxy,
                                        field: 'Email',
                                        validatorType: 'AddressValidator',
                                        validatorField: 'Email',
                                    },
                                    event: { blur: viewModel.onBlurContactEmail.bind(viewModel) }" />
                            </div>
                            <!-- Phone number -->
                            <div class="marginBottom20">
                                <label for="customerPhoneNumberInput" data-bind="resx: { textContent: 'string_1309' }">Phone</label>
                                <input tabindex="7" type="tel" id="customerPhoneNumberInput"
                                       data-bind="validator: {
                                        data: viewModel.customerProxy,
                                        field: 'Phone',
                                        validatorType: 'AddressValidator'
                                    }" />
                            </div>
                        </div>

                        <div>
                            <!-- Receipt email address -->
                            <div class="marginBottom20">
                                <label for="customerReceiptEmailInput" data-bind="resx: { textContent: 'string_1312' }">Receipt Email</label>
                                <input tabindex="6" type="text" id="customerReceiptEmailInput"
                                       data-bind="validator: {
                                        data: viewModel.customerProxy,
                                        field: 'ReceiptEmail',
                                        validatorType: 'AddressValidator',
                                        validatorField: 'Email'
                                    }" />
                            </div>
                        </div>

                        <div class="gutter12x12"></div>
                        <!-- Preferences header add-edit-customer-preferences-->
                        <div class="marginBottom12 ">
                            <h2 data-bind="resx: { textContent: 'string_1320' }">Preferences</h2>
                        </div>

                        <div>
                            <!-- Receipt preferences -->
                            <div class="marginBottom20">
                                <label for="customerReceiptPreferenceOptions" data-bind="resx: { textContent: 'string_1325' }">Receipt Preference</label>
                                <select tabindex="8" id="customerReceiptPreferenceOptions"
                                        data-bind="options: viewModel.receiptPreferences,
                                        optionsText: 'description',
                                        attr: { title: Commerce.ViewModelAdapter.getResourceString('string_1326') },
                                        optionsValue: 'code',
                                        value: viewModel.customerProxy.ReceiptSettings,
                                        optionsCaption: Commerce.ViewModelAdapter.getResourceString('string_1326')"></select>
                            </div>

                            <!-- Language -->
                            <div class="marginBottom20">
                                <label for="customerLanguageOptions" data-bind="resx: { textContent: 'string_1323' }">Language</label>
                                <select tabindex="10" id="customerLanguageOptions"
                                        data-bind="options: viewModel.languages,
                                        optionsText: 'LanguageName',
                                        attr: { title: Commerce.ViewModelAdapter.getResourceString('string_1324') },
                                        optionsValue: 'LanguageId',
                                        value: viewModel.customerProxy.Language,
                                        optionsCaption: Commerce.ViewModelAdapter.getResourceString('string_1324')"></select>
                            </div>

                            <div class="stretch">
                                <!-- Currency -->
                                <div class="marginBottom20">
                                    <label for="customerCurrencyOptions" data-bind="resx: { textContent: 'string_1321' }">Currency</label>
                                    <select tabindex="9" id="customerCurrencyOptions"
                                            data-bind="options: viewModel.currencies,
                                            optionsText: 'CurrencyCode',
                                            optionsValue: 'CurrencyCode',
                                            attr: { title: Commerce.ViewModelAdapter.getResourceString('string_1322') },
                                            value: viewModel.customerProxy.CurrencyCode,
                                            optionsCaption: Commerce.ViewModelAdapter.getResourceString('string_1322')"></select>
                                </div>
                            </div>

                        </div>

                        <div class="gutter12x12"></div>

                        <!-- ko if: viewModel.hasCustomerAttributes() -->
                        <!-- Attributes header -->
                        <div class="marginBottom12 ">
                            <h2 data-bind="resx: { textContent: 'string_209' }">Attributes</h2>
                        </div>

                        <!-- Attributes -->
                        <div data-bind="foreach: { data: viewModel.customerAttributesForDisplay, as: 'attributeViewModel' }">
                            <div class="marginBottom20">
                                <div data-bind="template: { name: 'customerAttributeTemplate',
                                                data: { customerAttributeViewModel: attributeViewModel,
                                                        attributeIndex: $index(),
                                                        tabIndex: 11 + $index()
                                                      }
                                                }"
                                        class="stretch">
                                </div>
                            </div>
                        </div>

                        <div class="gutter12x12"></div>
                        <!-- /ko -->

                        <div class="col width272">
                            <!-- Customer address card -->
                            <div>
                                <h2 data-bind="resx: { textContent: 'string_4809' }">Primary Address</h2>
                            </div>
                            <div data-bind="customerCard: {data: viewModel.customerCardViewModel, template: 'customerPrimaryAddressCardTemplate'}"></div>
                            <div data-bind="buttonBlock: {
                                     enabled: viewModel.canSave,
                                     buttonClass: 'iconAdd',
                                     ariaLabelResx: 'string_2503',    /* Create a new address */
                                     labelTextResx: 'string_2503',    /* Create a new address */
                                 },
                                 invokeValidate: viewModel.gotoAddNewAddress.bind(viewModel), css: { 'marginTop1': viewModel.addressFilled } ">
                            </div>

                        </div>
                        <div class="hideInLandscape"></div>
                    </div>

                </div>

                <!-- Bottom app bar -->
                <div id="commandAppBar" data-bind="appBar: {}">
                    <button data-bind="appBarCommand: {
                        extraClass: 'iconSave',
                        id:'cmdSaveCustomerDetails',
                        labelResx: 'string_1327',
                        enabled: viewModel.canSave }, invokeValidate: viewModel.saveCustomer.bind(viewModel)"></button>

                    <button data-bind="appBarCommand: {
                        extraClass: 'iconAdd',
                        id:'cmdSaveAndAddCustomerToSale',
                        labelResx: 'string_1328',
                        enabled: viewModel.canSave,
                        visible: !viewModel.isSelectionMode }, invokeValidate: viewModel.saveAndAddCustomerToSale.bind(viewModel)"></button>
                </div>
            </div>
        </div>
    </form>

</body>
</html>
