<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CustomerAddressesView</title>

    <link href="CustomerAddressesView.css" rel="stylesheet" />
</head>
<body>

    <div class="customerAddressesView fragment">
        <!-- Page header -->
        <div data-bind="headerSplitView: {title: viewTitle}">

            <div class="section main row margin12 marginLeft20 marginRight20 " data-bind="resx: { ariaLabel: 'string_4454' }">
                <!-- Main content -->
                <!-- Primary address -->
                <div class="no-shrink col">
                    <div class="row marginBottom12 no-shrink">
                        <h2 data-bind="resx: { textContent: 'string_4809' }">Primary address</h2>
                    </div>

                    <div class="col wrap">
                        <div class="browseGrid">
                            <!-- The selectionMode property on data-win-options is set on the view controler. -->
                            <div id="customerPrimaryAddressList" class="win-selectionstylefilled"
                                 data-win-control="WinJS.UI.ListView"
                                 data-win-options="{
                                    itemTemplate: select('#customerAddressTemplate'),
                                    layout: { type: WinJS.UI.ListLayout },
                                    selectionMode: 'none',
                                    tapBehavior: 'none',
                                    swipeBehavior: 'none'
                                 }"
                                 data-bind="winControl: {
                                    itemDataSource: primaryAddressWrappers,
                                    preventDefaulListViewEvents: true
                                },
                                resx: { ariaLabel: 'string_4809'},
                                axBubbleAttr: 'customerAddressesView_customerPrimaryAddressList'">
                                <!-- Primary address -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="gutter32x32"></div>

                <!-- Addresses -->
                <div class="col no-shrink">
                    <div class=" row marginBottom12 no-shrink">
                        <h2 data-bind="resx: { textContent: 'string_4834' }">Addresses</h2>
                    </div>

                    <div class="browseGrid noMargin col">
                        <!-- The selectionMode property on data-win-options is set on the view controler. -->
                        <div id="customerAddressesList" class="win-selectionstylefilled"
                             data-win-control="WinJS.UI.ListView"
                             data-win-options="{
                                itemTemplate: select('#customerAddressTemplate'),
                                layout: { type: WinJS.UI.GridLayout },
                                selectionMode: 'none',
                                tapBehavior: 'none',
                                swipeBehavior: 'none'
                                }"
                             data-bind="winControl: {
                                    itemDataSource: otherAddressWrappers,
                                    preventDefaulListViewEvents: true
                                },
                                resx: { ariaLabel: 'string_4834' },
                                axBubbleAttr: 'customerAddressesView_customerAddressesList'">
                            <!-- Addresses -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
