<!DOCTYPE html>
<html>
<head>
    <title>Developer Mode Settings Flyout</title>
    <link href="DeveloperMode.css" rel="stylesheet" />
</head>
<body>
    <div class="developerMode col" data-bind="customControlInternal: 'DeveloperMode'">
        <!-- Set on/off developer mode to control whether grid, theme, and dir are loaded in
        from the local storage -->
        <div class="h2 marginTop8 marginBottom8" data-bind="resx: { textContent: 'string_10' },visible: !Commerce.Config.isPhone"></div>
        <div class="padBottom12">
            <div class="grow">
                <div id="isDeveloperModeToggle"
                     data-bind="toggleSwitch: {
                                    labelOn: 'string_7411',
                                    labelOff:'string_7412',
                                    checked: $root.isDeveloperMode,
                                    onChange: $root.toggleDeveloperMode
                                },
                                resx: { ariaLabel: 'string_10' },
                                axBubbleAttr: 'developerMode_developerModeCheckbox'">
                </div>
                <!-- Developer mode -->
            </div>
        </div>
        <div class="marginTop12 borderTop padTop12">
            <div class="h4 marginBottom12" data-bind="resx: { textContent: 'string_11' }">Theme (CTRL+ALT+T)</div>
            <div class="row padBottom12">
                <div class="grow">
                    <div class="h6 marginBottom8" data-bind="resx: { textContent: 'string_12' }">Dark</div>
                    <input type="radio" value="dark" name="themeSelect"
                           data-bind="checked: $root.theme, 
                                enable: $root.isDeveloperMode,
                                resx: { ariaLabel: 'string_12' },
                                axBubbleAttr: 'developerMode_darkThemeRadio'" />  <!-- Dark -->
                </div>

                <div class="grow">
                    <div class="h6 marginBottom8" data-bind="resx: { textContent: 'string_13' }">Light</div>
                    <input type="radio" value="light" name="themeSelect"
                           data-bind="checked: $root.theme, 
                                enable: $root.isDeveloperMode,
                                resx: { ariaLabel: 'string_13' },
                                axBubbleAttr: 'developerMode_lightThemeRadio'" />  <!-- Light -->
                </div>
            </div>
        </div>

        <div class="marginTop12 borderTop padTop12">
            <div class="h4 marginBottom12" data-bind="resx: { textContent: 'string_14' }">Text Direction (CTRL+ALT+D)</div>
            <div class="row padBottom12">
                <div class="grow">
                    <div class="h6 marginBottom8" data-bind="resx: { textContent: 'string_15' }">LTR</div>
                    <input type="radio" value="ltr" name="textDir"
                           data-bind="checked: $root.dir, 
                                enable: $root.isDeveloperMode,
                                resx: { ariaLabel: 'string_15' },
                                axBubbleAttr: 'developerMode_ltrRadio'" />    <!-- LTR -->
                </div>

                <div class="grow">
                    <div class="h6 marginBottom8" data-bind="resx: { textContent: 'string_16' }">RTL</div>
                    <input type="radio" value="rtl" name="textDir"
                           data-bind="checked: $root.dir, 
                                enable: $root.isDeveloperMode,
                                resx: { ariaLabel: 'string_16' },
                                axBubbleAttr: 'developerMode_rtlRadio'" />  <!-- RTL -->
                </div>
            </div>
        </div>

        <div class="marginTop12 borderTop padTop12">
            <div class="h4" data-bind="resx: { textContent: 'string_7413' }">Show string IDs (log out and log back in)</div>

            <div class="padBottom12">
                <div id="isGridVisibleToggle"
                     data-bind="toggleSwitch: {
                                    labelOn: 'string_7411',
                                    labelOff:'string_7412',
                                    checked: $root.areStringIdsVisible,
                                    onChange: $root.toggleStringIdsVisibility,
                                    enabled: $root.isDeveloperMode
                                },
                                resx: { ariaLabel: 'string_7413' },
                                axBubbleAttr: 'developerMode_showStringIDsToggle'">
                    <!-- Show string IDs (log out and log back in) -->
                </div>
            </div>
        </div>

        <div class="marginTop12 borderTop padTop12">
            <div class="h4" data-bind="resx: { textContent: 'string_7415' }">Enable pseudo localization (log out and log back in)</div>

            <div class="padBottom12">
                <div id="isGridVisibleToggle"
                     data-bind="toggleSwitch: {
                                    labelOn: 'string_7411',
                                    labelOff:'string_7412',
                                    checked: $root.isPseudoLocalizationEnabled,
                                    onChange: $root.togglePseudoLocalization,
                                    enabled: $root.isDeveloperMode
                                },
                                resx: { ariaLabel: 'string_7415' },
                                axBubbleAttr: 'developerMode_enablePseudoLocalization'">
                    <!-- Enable pseudo localization (log out and log back in) -->
                </div>
            </div>
        </div>

        <div class="marginTop12 borderTop padTop12">
            <div class="h4" data-bind="resx: { textContent: 'string_17' }">Grid Overlay (CTRL+ALT+G)</div>
            <div class="padBottom12">
                <div id="developerModeGridToggle"
                     data-bind="toggleSwitch: {
                                    labelOn: 'string_7411',
                                    labelOff:'string_7412',
                                    checked: $root.isGridHelperVisible,
                                    onChange: $root.toggleGridVisibility,
                                    enabled: $root.isDeveloperMode
                                },
                                resx: { ariaLabel: 'string_17' },
                                axBubbleAttr: 'developerMode_developerModeGridToggle'">
                    <!-- Grid Overlay -->
                </div>
            </div>
        </div>

        <div class="marginTop12 borderTop padTop12">
            <div class="h4" data-bind="resx: { textContent: 'string_18' }">Colors (CTRL+ALT+C)</div>
            <div class="padBottom12">
                <div id="developerModeColorToggle"
                     data-bind="toggleSwitch: {
                                    labelOn: 'string_7411',
                                    labelOff:'string_7412',
                                    checked: $root.isColoringVisible,
                                    onChange: $root.toggleColorVisibility,
                                    enabled: $root.isDeveloperMode
                                },
                                resx: { ariaLabel: 'string_18' },
                                axBubbleAttr: 'developerMode_developerModeColorToggle'">
                    <!-- Colors -->
                </div>
            </div>
        </div>

        <div class="marginTop12 borderTop padTop12">
            <div class="h4" data-bind="resx: { textContent: 'string_60' }">Performance log</div>
            <div class="padBottom12">
                <div id="developerModeColorToggle"
                     data-bind="toggleSwitch: {
                                    labelOn: 'string_7411',
                                    labelOff:'string_7412',
                                    checked: $root.isPerformanceLogEnabled,
                                    onChange: $root.togglePerformanceLog,
                                    enabled: $root.isDeveloperMode
                                },
                                resx: { ariaLabel: 'string_60' },
                                axBubbleAttr: 'developerMode_performanceLogToggle'">
                </div>
            </div>
        </div>

    </div>
</body>
</html>
