<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>HardwareStationErrorDialog</title>
</head>
<body>
    <div data-bind="customControlInternal: 'HardwareStationErrorDialog'">

        <div class="hardwareStationErrorDialog">
            <div data-bind="dialog:
                {
                    title: Commerce.ViewModelAdapter.getResourceString('string_12000'),
                    subTitle: subTitleValue,
                    message: messageValue,
                    visible: visible,
                    closeOnEscButton: false,
                    hideOnEscape: false
                },
                axBubbleAttr: 'hardwareStationErrorDialog_hardwareStationErrorDialog'" class="modalWindowContentSection">

                <div id="hardwareStationErrorDialogTileList" data-bind="tileList: {
                        iteminvoked: hardwareStationErrorDialogClickHandler,
                        itemDataSource: hardwareStationErrorDialogActionLines,
                        field: 'Label'
                    },
                    axBubbleAttr: 'hardwareStationErrorDialog_hardwareStationErrorDialogTileList'">
                </div>
            </div>
        </div>

    </div>
</body>
</html>
