<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>LinkedRefundDialog</title>
</head>
<body>
    <div data-bind="customControlInternal: 'LinkedRefundDialog'">
        <div data-bind="dialog:
            {
                title: Commerce.ViewModelAdapter.getResourceString('string_1260'), /* Return payment */
                visible: visible,
                buttonClick: linkedRefundDialogButtonClickHandler,
                dialogCloseButtonClick: dialogCloseButtonClick,
                buttons: [
                        { label: Commerce.ViewModelAdapter.getResourceString('string_76'), operationId: Commerce.Controls.Dialog.OperationIds.CANCEL_BUTTON_CLICK, isPrimary: false }
                    ],
            },
            axBubbleAttr: 'linkedRefundDialog_linkedRefundDialog'" class="modalWindowContentSection">

            <!-- dialog content -->
            <!-- return amount due -->
            <div class="padTop12">
                <label data-bind="resx: { textContent: 'string_1261' }">Return amount due</label>
                <div class="padBottom8 height52 textRight">
                    <div class="h1" data-bind="formatPrice: amountDue"></div>
                </div>
            </div>
            <!-- Line separator -->
            <div class="padTop12 padBottom8 no-shrink">
                <div class="line-separator"></div>
            </div>
            <!-- no tender type selected -->
            <div class="padBottom8">
                <div data-bind="visible: !isTenderTypeSelected()">
                    <div class="padBottom8">
                        <label data-bind="resx: { textContent: 'string_100' }">Payment method</label>
                    </div>
                    <div data-bind="selectTile: {
                         tileType: Commerce.SelectTile.SelectTileType.SingleLine,
                         primaryText: Commerce.ViewModelAdapter.getResourceString('string_1262'),
                         iteminvoked: function () { $parent.optionClickHandler(null); },
                         displayChevron: true}">
                    </div>
                </div>
                <!-- selected tender type -->
                <div data-bind="with: tenderType">
                    <div class="padBottom8">
                        <label data-bind="resx: { textContent: 'string_1264' }">Use selected tender</label>
                    </div>
                    <div data-bind="selectTile: {
                         tileType: Commerce.SelectTile.SelectTileType.SingleLine,
                         primaryText: Name,
                         iteminvoked: function () { $parent.optionClickHandler(null); },
                         displayChevron: true }">
                    </div>
                </div>
            </div>
            <!-- use previous card payment -->
            <div class="padBottom8">
                <label data-bind="resx: { textContent: 'string_1263' }">Use a previous card</label>
            </div>
            <!-- ko foreach: linkedTenderLines -->
            <div data-bind="selectTile: {
                 tileType: Commerce.SelectTile.SelectTileType.SmallDoubleLine,
                 primaryText: Commerce.NumberExtensions.formatCurrency(AuthorizedAmount),
                 secondaryText: MaskedCardNumber,
                 iconClass: 'iconPaymentCard',
                 iteminvoked: function () { $parent.optionClickHandler($data); },
                 displayChevron: false}">
            </div>
            <!-- /ko -->
        </div>
    </div>
</body>
</html>
