<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>MessageDialog</title>

    <link href="MessageDialog.css" rel="stylesheet" />
</head>
<body>
    <div data-bind="customControlInternal: 'MessageDialog'">

        <div data-bind="dialog:
                {
                    title: title,
                    subTitle: subTitle,
                    visible: visible,
                    buttonClick: buttonClickHandler,
                    showProgressIndicator: indeterminateWaitVisible,
                    hideOnEscape: hideOnEscape,
                    buttons: buttons,
                    dialogCloseButtonClick: closeClickHandler
                },
                axBubbleAttr: 'messageDialog_messageDialog',attr: { 'aria-label': title() + content() }" class="modalWindowContentSection alwaysOnTop">

            <!-- dialog content -->
            <div class="content">
                <div class="h4 wrapTextWithoutHyphen wrapTextWithLineBreaks" data-bind="text: content"></div>
                <div class ="padTop12" data-bind="visible: additionalInfo">
                    <!-- Additional information: -->
                    <div class="h4 wrapText additionalInfo" data-bind="resx: { textContent: 'string_29049' }"></div>
                    <div class="h4 wrapText" data-bind="text: additionalInfo"></div>
                </div>
            </div>
            <div class="padTop12 row" data-bind="visible: messageCheckboxVisible, axBubbleAttr: 'messageDialog_messageCheckbox'">
                <input id="messageCheckbox" type="checkbox" data-bind="checked: messageCheckboxChecked" />
                <div>
                    <label for="messageCheckbox" data-bind="text: messageCheckboxLabel">Do not tell me again</label>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
