<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Change Password View</title>
    <link href="ChangePasswordView.css" rel="stylesheet" />
</head>
<body>

    <div class="changePasswordView fragment" data-bind="with: _viewModel">

        <!-- Indeterminate wait -->
        <div data-bind="loader: { visible: _processing }"></div>

        <!--Login panel for accepting user credentials-->
        <div class="section main full-screen col grow pad40" data-bind="resx: { ariaLabel: 'string_4454' }">
            <!-- Main content -->

            <div class="center">
                <div class="width500 pad40 primaryBackgroundColor highContrastBorderThin">
                    <div>
                        <h1 class="wrapTextWithoutHyphen" data-bind="resx: { textContent: 'string_6800' }">Change password</h1>
                    </div>

                    <div class="padTop40">
                        <label data-bind="resx: {textContent: 'string_6801'}" for="oldPassword">Old password</label>

                        <input id="oldPassword" type="password" role="textbox"
                               data-bind="value: _oldPassword,
                                    valueUpdate: 'afterkeydown',
                                    enterKeyPress: changePassword,
                                    validator: {
                                        validatorField: 'Password',
                                        validatorType: 'ConnectionRequestValidator'
                                    },
                                    axBubbleAttr: 'changePasswordView_oldPassword'" />
                    </div>

                    <div class="padTop20">
                        <label data-bind="resx: {textContent: 'string_6802'}" for="newPassword">New password</label>

                        <input id="newPassword" type="password" required="required" role="textbox"
                               data-bind="value: _newPassword,
                                    valueUpdate: 'afterkeydown',
                                    enterKeyPress: changePassword,
                                    validator: {
                                        validatorField: 'Password',
                                        validatorType: 'ConnectionRequestValidator'
                                    },
                                    axBubbleAttr: 'changePasswordView_newPassword'" />
                    </div>

                    <div class="padTop20">
                        <label data-bind="resx: {textContent: 'string_6803'}" for="confirmPassword">Confirm the new password</label>

                        <input id="confirmPassword" type="password" required="required" role="textbox"
                               data-bind="value: _confirmedNewPassword,
                                    valueUpdate: 'afterkeydown',
                                    enterKeyPress: changePassword,
                                    validator: {
                                        validatorField: 'Password',
                                        validatorType: 'ConnectionRequestValidator'
                                    },
                                    axBubbleAttr: 'changePasswordView_confirmPassword'" />
                    </div>

                    <div class="padTop40 row alignRight">
                        <button class="primaryButton" data-bind="resx: { textContent: 'string_75' }, click: changePassword, axBubbleAttr: 'changePasswordView_okButton'">
                            OK
                        </button>

                        <div class="padLeft12">
                            <button class="secondaryButton" data-bind="resx: { textContent: 'string_76' }, click: cancelHandler, axBubbleAttr: 'changePasswordView_cancelButton'">
                                Cancel
                            </button>

                            <!-- Since Cancel works as a back button, we must have a nav tag on the page to allow navigator to identify a back button in the page -->
                            <nav>
                                <!-- Since our Cancel button isn't a back button image, we need a hidden button with class iconNavBack
                                to allow navigator to identify a back button on the page and allow it to save state correctly for the back operation -->
                                <button class="iconBack" data-bind="visible: false, resx: { ariaLabel: 'string_49' }, axBubbleAttr: 'changePasswordView_backButton'"></button>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>
