<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>LoyaltyExpiringPointsDialog</title>
</head>
<body>
    <div class="LoyaltyExpiringPointsDialog" data-bind="customControlInternal: 'LoyaltyExpiringPointsDialog'">
        <div data-bind="dialog:
             {
                title: title,
                subTitle: $root.viewModel.loyaltyPointDaysToExpiryText,
                visible: visible,
                buttons: [
                    { label: Commerce.ViewModelAdapter.getResourceString('string_80'), operationId: Commerce.Controls.Dialog.OperationIds.CANCEL_BUTTON_CLICK }
                ],
                buttonClick: buttonClickHandler,
                closeOnEscButton: true,
                dialogCloseButtonClick: dialogCloseButtonClick,
             },
             axBubbleAttr: 'loyaltyExpiringPointsDialog_loyaltyExpiringPointsDialog'" class="modalWindowContentSection">
            <!-- Dialog content -->
            <div class="row">
                <div class="col h1 bottomLeft" data-bind="text: loyaltyBalanceLabel"></div>
                <div class="col h1 bottomRight textRight grow" data-bind="text: Commerce.NumberExtensions.formatNumber(expiringPoints, 2)"></div>
            </div>
            <div class="padTop8 no-shrink">
                <div class="line-separator"></div>
            </div>
            <!--Loyalty expiring points list-->
            <div class="col grow padTop32 padBottom12">
                <!--Header-->
                <div class="row centerY marginLeft0 marginTop10 marginBottom0 marginRight12">
                    <div class="bottomLeft grow ratio5">
                        <div class="margin0 h6 ellipsis bold" data-bind="resx: { textContent: 'string_290' }">DATE</div>
                    </div>
                    <div class="ratio5">
                        <div class="margin0 h6 ellipsis textRight bold" data-bind="resx: { textContent: 'string_291' }">BALANCE</div>
                    </div>
                </div>
            </div>
            <div class="scrollY col grow">
                <!--Loyalty Expiring Points List-->
                <div id="loyaltyExpiringPointsGrid" class="grow col">
                    <div id="loyaltyExpiringPointsList"
                         class="grow noMargin col"
                         data-bind="dataList: {
                             incrementalDataSource: {
                                dataManager: viewModel,
                                callerMethod: viewModel.getLoyaltyRewardPointsExpiringSoonAsync,
                                pageSize: 40,
                             },
                             defaultListType: Commerce.Controls.DataList.ListType.Card,
                             selectionModes: Commerce.Controls.DataList.SelectionMode.None,
                             itemTemplates: [
                                {
                                    templateId: 'loyaltyExpiringPointsTemplate',
                                    cardType: Commerce.Controls.DataList.CardType.Stretchable,
                                    deviceType: Commerce.Controls.DataList.DeviceType.All
                                }
                             ]
                        }, axBubbleAttr: 'loyaltyExpiringPointsDialog_optionsButtonGrid'"></div>
                </div>
            </div>
        </div>
    </div>

    <script id="loyaltyExpiringPointsTemplate" type="text/html">
        <div class="loyaltyExpiringPointContainer padTop8 grow col">
            <div class="row centerY">
                <div class="bottomLeft grow ratio5">
                    <div class="margin0 h4 ellipsis bold" data-bind="text: LoyaltyRewardPointTimelineEntryType"></div>
                    <div class="margin0 h6 textTransformNone opacity60 ellipsis secondaryFontColor" data-bind="text: Commerce.Formatters.DateWithoutTime(ActivityDate)"></div>
                </div>
                <div class="ratio5">
                    <div class="row alignRight">
                        <div class="margin0 h5 ellipsis textRight bold marginRight4" data-bind="text: Commerce.NumberExtensions.formatNumber(LoyaltyPoints, 2)"></div>
                    </div>
                </div>
            </div>
        </div>
    </script>
</body>
</html>