<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SelectWarehouseLocationDialog</title>
</head>
<body>
    <div class="selectWarehouseLocationDialog" data-bind="customControlInternal: 'SelectWarehouseLocationDialog'">

        <div data-bind="dialog: {
             title: title,
             visible: visible,
             closeOnEscButton: true,
             buttonClick: buttonClickHandler,
             dialogCloseButtonClick: dialogCloseButtonClick,
             buttons: [{ label: Commerce.ViewModelAdapter.getResourceString('string_76'), operationId: Commerce.Controls.Dialog.OperationIds.CANCEL_BUTTON_CLICK, isPrimary: false }]
        },
        axBubbleAttr: 'selectWarehouseLocationDialog_selectWarehouseLocationDialog'" class="modalWindowContentSection">
            <!-- Progress ring -->
            <div data-bind="loader: { visible: viewModel.isBusy, restoreFocus: false, type: Commerce.Controls.Loader.LoaderType.Dialog }"></div>

            <!-- Dialog content -->
            <div class="col grow">
                <!-- Search field -->
                <div class="marginTop20">
                    <label data-bind="resx: {textContent: 'string_3436'}" for="searchWarehouseLocationsTextBox">Search item locations</label>
                    <div class="row grow width100Percent searchWrapper">
                        <input class="noBorder" id="searchWarehouseLocationsTextBox" type="search"
                               data-bind="value: viewModel.searchText,
                                    valueUpdate: 'afterkeydown',
                                    clearMark: true,
                                    enterKeyPress: viewModel.performWarehouseLocationSearch.bind(viewModel)" /> <!-- Search text box -->
                        <button class="noBorder iconSearch margin0 height32 padRight8 searchButton" type="submit"
                                data-bind="resx: { ariaLabel: 'string_50' },
                                    click: viewModel.performWarehouseLocationSearch.bind(viewModel),
                                    axBubbleAttr: 'selectWarehouseLocationDialog_searchButton'"></button> <!-- Search button -->
                    </div>
                    <div class="marginBottom10 marginTop12 secondaryBackgroundColor highContrastRowLine height01"></div> <!-- Separator line -->
                </div>

                <!-- Warehouse locations list -->
                <div id="warehouseLocationsButtonGrid" class="grow col">
                    <label class="marginTop20 marginBottom12 flexNone" data-bind="resx: {textContent: 'string_3437'}">Select item location</label>
                    <div id="warehouseLocationsList"
                         class="grow noMargin col"
                         data-bind="dataList: {
                             incrementalDataSource: {
                                dataManager: viewModel,
                                callerMethod: viewModel.getWarehouseLocationsAsync,
                                pageSize: 40,
                                onLoading: viewModel.isBusyFlag,
                                reloadCallBack: viewModel.reloadWarehouseLocationsCallback,
                             },
                             defaultListType: Commerce.Controls.DataList.ListType.Card,
                             selectionModes: Commerce.Controls.DataList.SelectionMode.InvokeOnly,
                             itemInvoked: itemInvokedHandler,
                             itemTemplates: [
                                {
                                    templateId: 'warehouseLocationGridTemplate',
                                    cardType: Commerce.Controls.DataList.CardType.Stretchable,
                                    deviceType: Commerce.Controls.DataList.DeviceType.All
                                }
                             ]
                        }, axBubbleAttr: 'selectWarehouseLocationDialog_optionsButtonGrid'"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
