<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SelectStoreDialog</title>
</head>
<body>
    <div data-bind="customControlInternal: 'SelectStoreDialog'">
        <div data-bind="dialog: {
            title: title,
            subTitle: subTitle,
            visible: visible,
            buttonClick: buttonClickHandler,
            buttons: [
                { label: Commerce.ViewModelAdapter.getResourceString('string_76'), operationId: Commerce.Controls.Dialog.OperationIds.CANCEL_BUTTON_CLICK, isPrimary: false },
            ],
        },
        axBubbleAttr: 'selectStoreDialog_selectStoreDialog'" class="selectStoreDialog modalWindowContentSection">

            <!-- dialog content -->
            <div id="optionsButtonGrid" data-bind="tileList: {
                    iteminvoked: itemClickHandler,
                    itemDataSource: stores,
                    field: 'OrgUnitName',
                    secondaryField: 'OrgUnitNumber',
                    tileType: 'doubleLine'
                },
                axBubbleAttr: 'selectStoreDialog_optionsButtonGrid'"></div>
        </div>
    </div>
</body>
</html>
