<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SignatureCaptureDialog</title>
    <link href="SignatureCaptureDialog.css" rel="stylesheet" />
</head>
<body>
    <div data-bind="customControlInternal: 'SignatureCaptureDialog'">
        <div class="signatureCaptureDialog">
            <div data-bind="dialog:
                {
                    title: Commerce.ViewModelAdapter.getResourceString('string_6900'), /* Signature */
                    visible: visible,
                    buttonClick: signatureCaptureDialogButtonClickHandler,
                    buttons: [
                        { label: Commerce.ViewModelAdapter.getResourceString('string_6902'), operationId: Commerce.Controls.Dialog.OperationIds.OK_BUTTON_CLICK, disable: hasNoSignatureData, focus: focusOnOk, isPrimary: true }, /* Accept */
                        { label: Commerce.ViewModelAdapter.getResourceString('string_107'), operationId: Commerce.Controls.Dialog.OperationIds.CANCEL_BUTTON_CLICK, isPrimary: false }, /* Cancel */
                    ]
                },
                axBubbleAttr: 'signatureCaptureDialog_signatureCaptureDialog'">
                <div class="marginBottom8">
                    <div data-bind="h3 formatPrice: paymentAmount"></div>
                </div>
                <div class="marginBottom8">
                    <canvas class="height200 signatureCanvas" id="signaturecanvas" data-bind="css: { signatureEntry: allowSignatureEntry }, axBubbleAttr: 'signatureCaptureDialog_signaturecanvas'"></canvas>
                </div>
                <div class="col marginBottom8" data-bind="visible: allowClear">
                    <button id="btnClear"
                            class="primaryButton"
                            data-bind="resx: {textContent: Commerce.ViewModelAdapter.getResourceString('string_6901')},
                            click: function() {
                                $root.signatureCaptureDialogButtonClickHandler('clear');
                            }">
                        Clear
                    </button>
                </div>
                <div class="col" data-bind="visible: allowSkip">
                    <button id="btnSkip"
                            class="primaryButton"
                            data-bind="resx: {textContent: Commerce.ViewModelAdapter.getResourceString('string_6903')},
                            click: function() {
                                $root.signatureCaptureDialogButtonClickHandler('skip');
                            }">
                        Skip
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
