<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SettingsView</title>
</head>
<body>
    <div class="fragment settingsView" data-bind="with: viewModel">
        <div data-bind="headerSplitView: { searchVisible: Commerce.Session.instance.isLoggedOn, titleResx: 'string_7400' }">
            <div id="SettingsViewPivot" data-bind="pivot: {}">
                <!-- About -->
                <div data-bind="pivotItem: { header: 'About' }" class="padLeft20">
                    <div class="col">
                        <div>
                            <label data-bind="text: applicationName"></label>
                        </div>
                        <div>
                            <label data-bind="text: applicationPublisher"></label>
                        </div>
                        <div>
                            <label data-bind="text: applicationVersion"></label>
                        </div>
                        <div class="marginTop12" data-bind="visible: !Commerce.Session.instance.isLoggedOn">
                            <div class="h4 marginBottom12" data-bind="resx: { textContent: 'string_1422' }">Reset application</div>
                            <button id="resetApplicationButton" class="primaryButton"
                                    data-bind="resx: { textContent: 'string_1423' }, click: resetApplicationHandlerAsync">
                                Reset
                            </button>
                            <label class="marginTop12 wrapTextWithoutHyphen" data-bind="resx: { textContent: 'string_1424' }"></label>
                        </div>
                        <div>
                            <a class="h4 marginTop12 wrapText" target="_blank" href="https://lcs.dynamics.com/Logon/Legal" data-bind="resx: { textContent: 'string_7425', ariaLabel: 'string_7425' }">Microsoft Legal terms</a>
                        </div>
                        <div>
                            <a class="h4 marginTop12 wrapText" target="_blank" href="https://go.microsoft.com/fwlink/?LinkId=521839" data-bind="resx: { textContent: 'string_7426', ariaLabel: 'string_7426' }">Microsoft Privacy and Cookies</a>
                        </div>
                        <div>
                            <a class="h4 marginTop12 wrapText" target="_blank" href="https://go.microsoft.com/fwlink/p/?linkid=857875" data-bind="resx: { textContent: 'string_7427', ariaLabel: 'string_7427' }">Notice to End Users</a>
                        </div>
                        <!-- ko ifnot: Commerce.StringExtensions.isEmptyOrWhitespace(legalTermsUrl()) -->
                        <div>
                            <a class="h4 marginTop12 wrapText" target="_blank" data-bind="attr: { href: legalTermsUrl }, resx: { textContent: 'string_7423', ariaLabel: 'string_7423' }">Your organization's legal terms</a>
                        </div>
                        <!-- /ko -->
                        <!-- ko ifnot: Commerce.StringExtensions.isEmptyOrWhitespace(privacyAndCookiesUrl()) -->
                        <div>
                            <a class="h4 marginTop12 wrapText" target="_blank" data-bind="attr: { href: privacyAndCookiesUrl }, resx: { textContent: 'string_7424', ariaLabel: 'string_7424' }">Your organization's Privacy and Cookies</a>
                        </div>
                        <!-- /ko -->
                    </div>
                </div><!-- end about -->
                <!-- Session -->
                <div data-bind="pivotItem: { headerResx: 'string_7403' }" class="padLeft20">
                    <div class="marginBottom20">
                        <label data-bind="resx: { textContent: 'string_7404' }"></label> <!-- Application session ID -->
                        <div class="h4 selectable" data-bind="text: appSessionId"></div>
                    </div>
                    <div class="marginBottom20">
                        <label data-bind="resx: { textContent: 'string_7405' }"></label> <!-- User session ID -->
                        <div class="h4 selectable" data-bind="text: userSessionId"></div>
                    </div>
                    <div class="marginBottom20">
                        <label data-bind="resx: { textContent: 'string_7419' }"></label> <!-- Layout ID -->
                        <div class="h4 selectable" data-bind="text: layoutId"></div>
                    </div>
                    <div class="marginBottom20">
                        <label data-bind="resx: { textContent: 'string_7420' }"></label> <!-- Layout resolution -->
                        <div class="h4 selectable" data-bind="text: layoutResolution"></div>
                    </div>
                    <div class="marginBottom20">
                        <label data-bind="resx: { textContent: 'string_7421' }"></label> <!-- Screen resolution -->
                        <div class="h4 selectable" data-bind="text: windowResolution"></div>
                    </div>
                </div> <!-- end Session -->
                <!-- Memory usage -->
                <div data-bind="pivotItem: { headerResx: 'string_7416' }" class="padLeft20">
                    <div class="marginBottom20">
                        <label data-bind="resx: { textContent: 'string_7418' }"></label> <!-- App's memory usage limit -->
                        <div class="h4 selectable" data-bind="text: appMemoryUsageLimit"></div>
                    </div>
                    <div class="marginBottom20">
                        <label data-bind="resx: { textContent: 'string_7417' }"></label> <!-- App's current memory usage -->
                        <div class="h4 selectable" data-bind="text: appCurrentMemoryUsage"></div>
                    </div>
                </div> <!-- end Memory usage -->
                <!-- Device Deactivation -->
                <!-- ko if: Commerce.Session.instance.isLoggedOn -->
                <div data-bind="pivotItem: { header: 'Activation'}" class="padLeft20">
                    <div class="col">
                        <div class="col grow" data-bind="userControl: { uri: 'Views/Login/DeviceDeactivation.html' }"></div>
                    </div>
                </div>
                <!-- /ko -->
                <!-- end Device Deactivation -->
                <!--Developer mode-->
                <!-- ko if: Commerce.Config.isDebugMode -->
                <div data-bind="pivotItem: { header: 'Developer mode'}" class="padLeft20">
                    <div class="col">
                        <div class="no-shrink col grow" data-bind="userControl: { uri: 'Views/Controls/DeveloperMode.html' }"></div>
                    </div>
                </div>
                <!-- /ko -->
                <!--end developer mode-->

                <!-- Extension packages -->
                <div data-bind="pivotItem: { headerResx: 'string_7432' }" class="padLeft20">
                    <div class="col">
                        <div data-bind="template: {
                                                      name: 'extensionPackagesLoadInfoTemplate',
                                                      data: { extensionPackagesViewModel: extensionPackagesViewModel }
                                                  }"
                             class="height100Percent">
                        </div>
                    </div>
                <!--end extension packages-->
            </div>
        </div>
    </div>
</body>
</html>
