<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>PickingAndReceivingDetailsView</title>
</head>
<body>

    <div class="fragment pickingAndReceivingDetailsView" data-bind="with: viewModel, interaction: { ProductByKeywordFound: { selectPivot: '#pickingAndReceivingViewPivotLines' }}">

        <!-- Indeterminate wait -->
        <div data-bind="loader: { visible: isBusy }"></div>

        <!-- Page header -->
        <div data-bind="headerSplitView: { titleResx: title }">
                <div id="pickingAndReceivingViewPivot" data-bind="pivot: {}">
                    <div id="pickingAndReceivingViewPivotLines" data-bind="pivotItem: { headerResx: 'string_3741' }">
                        <div id="listviewContainer" data-bind="dataList: {
                                    itemDataSource: lineDetails,
                                    selectionModes: Commerce.Controls.DataList.SelectionMode.SingleSelect,
                                    columns: $parent.dataListColumns,
                                    selectionChanged: productSelectionChanged,
                                    ariaLabelResx: 'string_3874'
                                 }">
                        </div>
                    </div>
                </div>

                <div id="pickingReceivingAppBar" data-ax-bubble="pickingAndReceivingDetailsView_commandAppBar" data-bind="appBar: {}">

                    <button data-bind="appBarCommand: {
                    extraClass: 'iconMapPin',
                    id:'changeLocation',
                    labelResx: 'string_3876',
                    onclick: startChangingLocationAsync,
                    visible: isAdvancedWarehousingEnabled }"></button>

                    <button data-bind="appBarCommand: {
                    extraClass: 'iconImportAll',
                    id:'receiveAllShipAll',
                    labelResx: receiveAllOrShipAllLabelResx,
                    enabled: isEnterProductMode,
                    onclick: receiveOrShipAllLines}"></button>

                    <button data-bind="appBarCommand: {
                    extraClass: 'iconSearch',
                    id:'searchProducts',
                    labelResx: 'string_3821',
                    onclick: searchForProductAsync,
                    enabled: isEnterProductMode, }"></button>

                    <button data-bind="appBarCommand: {
                    extraClass: 'iconAccept',
                    id:'commitJournal',
                    labelResx: 'string_3823',
                    enabled: isEnterProductMode,
                    onclick: commitJournalAsync }"></button>

                    <button data-bind="appBarCommand: {
                    extraClass: 'iconSave',
                    id:'saveJournal',
                    labelResx: 'string_3824',
                    enabled: isEnterProductMode,
                    onclick: saveJournalAsync }"></button>

                    <!-- opens dialog to add a new product -->
                    <button data-bind="appBarCommand: {
                    id: 'addProduct',
                    extraClass: 'iconAdd',
                    enabled: isProductAdditionAllowed,
                    visible: !isUpdateTransferIn(),
                    onclick: addProductAsync,
                    labelResx: 'string_923'}, axBubbleAttr: 'pickingAndReceivingDetailsView_addProductButton'"></button>

                    <!-- opens dialog to edit quantity of the order line-->
                    <button data-bind="appBarCommand: {
                    id:'editQuantity',
                    extraClass: 'iconQuantity',
                    enabled: isEnterReceivedNowMode,
                    onclick: editQuantityAsync,
                    labelResx: 'string_3374'}, axBubbleAttr: 'pickingAndReceivingDetailsView_addQuantityButton'"></button>

                </div>
        </div>
    </div>
</body>
</html>