<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>URL Operation</title>
    <link href="UrlOperationView.css" rel="stylesheet" />
</head>
<body>
    <div class="urlOperationView fragment">
        <!-- Page header -->
        <div data-bind="headerSplitView: { title: pageTitle }">
            <div class="section main marginLeft20 pad0">
                <!-- Main content -->
                <!-- ko if: !isCloudPos() -->
                <x-ms-webview id="urlWebView" data-bind="attr: { src: launchUrl }, axBubbleAttr: 'urlOperationView_urlWebView'" width="100%" height="100%"></x-ms-webview>
                <!-- /ko -->
                <!-- ko if: isCloudPos() -->
                <iframe id="urlIframe" data-bind="attr: { src: launchUrl }, axBubbleAttr: 'urlOperationView_urlIframe'" sandbox="allow-scripts allow-forms" width="100%" height="100%"></iframe>
                <!-- /ko -->
            </div>
        </div>
    </div>
</body>
</html>
