<!-- HTMLLint Disable LabelExistsValidator -->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Greetings</title>
</head>
<body>
    <div class="GreetingsDataListView">
        <div data-bind="msPosHeaderSplitView: headerSplitView">
            <div class="grow scrollY">
                <div class="pad8 height700">
                    <div id="dataList" data-bind="msPosDataList: dataList"> </div>
                </div>
                <div class="pad20" align="center">
                    <h3>Actions</h3>
                    <div class="pad8" align="center">
                        <button data-bind="click: showMenu">Show actions</button>
                        <div data-bind="msPosMenu: menu"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
