<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Change Password View</title>
    <link href="ChangePasswordView.css" rel="stylesheet" />
</head>
<body>
    <div class="changePasswordView fragment">

        <!-- Progress ring -->
        <div data-bind="loader: { visible: indeterminateWaitVisible }"></div>

        <!-- Page header -->
        <div data-bind="headerSplitView: { titleResx: 'string_6815' }">

            <div id="resetPasswordPivots" data-bind="pivot: { }, resx: { ariaLabel: 'string_4454' }">
                <!-- Password details area -->
                <div id="resetPasswordPivotItem" data-bind="pivotItem: { headerResx: 'string_6809' }">
                    <div class="scrollY width100Percent">
                        <label for="operatorIdText" data-bind="resx: { textContent: 'string_6808' }">Operator Id</label>
                        <input id="operatorIdText" type="text" tabindex="1" autofocus="autofocus" data-bind="value: operatorId, enterKeyPress: resetPassword, axBubbleAttr: 'resetPasswordView_operatorIdText'" />
                        <div id="newPassword" class="marginTop20" data-bind="axBubbleAttr: 'resetPasswordView_newPassword'">
                            <label for="newPasswordText" data-bind="resx: { textContent: 'string_6802' }">New Password</label>
                            <input id="newPasswordText" type="password" tabindex="2" role="textbox" data-bind="value: newPassword, enterKeyPress: resetPassword, axBubbleAttr: 'resetPasswordView_newPasswordText'" />
                        </div>
                        <div id="confirmPassword" class="marginTop20" data-bind="axBubbleAttr: 'resetPasswordView_confirmPassword'">
                            <label for="confirmPasswordText" data-bind="resx: { textContent: 'string_6803' }">Confirm the new password</label>
                            <input id="confirmPasswordText" type="password" tabindex="3" role="textbox" data-bind="value: confirmedNewPassword, enterKeyPress: resetPassword, axBubbleAttr: 'resetPasswordView_confirmPasswordText'" />
                        </div>
                        <div class="marginTop20">
                            <label data-bind="resx: { textContent: 'string_6816' }">Require operator to change password after use</label>
                            <div data-bind="toggleSwitch: {
                                         labelOn: 'string_6817',
                                         labelOff:'string_6818',
                                         checked: requireChangeAfterUse,
                                         onChange: toggleRequireChange,
                                         tabIndex: 4
                                     },
                                     resx: { ariaLabel: 'string_6816' },
                                     axBubbleAttr: 'resetPasswordView_changeRequired'">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Bottom app bar -->
            <div id="commandAppBar" data-bind="appBar:{}, axBubbleAttr: 'resetPasswordView_commandAppBar'">
                <button data-ax-bubble="resetPasswordView_okButton"
                        tabindex="5"
                        data-bind="appBarCommand: {
                            id: 'performOperationAppBar',
                            label: 'OK',
                            extraClass: 'iconAccept',
                            onclick: resetPassword,
                            labelResx: 'string_75'
                        },
                        axBubbleAttr: 'resetPasswordView_okButton'">
                    <!-- OK -->
                </button>
            </div>
        </div>
    </div>
</body>
</html>
