<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>InventoryAvailableToPromiseView</title>
    <link href="InventoryAvailableToPromiseView.css" rel="stylesheet" />
</head>
<body>
    <div class="fragment InventoryAvailableToPromiseView" data-bind="with: viewModel">

        <!-- Indeterminate wait -->
        <div data-bind="loader: { visible: isBusy }"></div>

        <!-- Page header -->
        <div data-bind="headerSplitView: {titleResx : 'string_2606'}">
            <div class="section main row grow marginLeft20 marginRight20" data-bind="resx: { ariaLabel: 'string_4454' }">
                <!-- Views for Stores Grid -->
                <div class="col minWidth572 grow">
                        <div>
                            <h2 class="col grow width240" data-bind="text: locationName"></h2>
                        </div>
                    <!-- List of avialable to promise inventory -->
                    <div id="inventoryAvailableToPromiseList" class="col grow" data-bind="dataList: {
                            itemDataSource: availabilities,
                            ariaLabelResx: 'string_5506', /* List of avaiable to promise inventory */
                            columns: [
                                { titleResx: 'string_2627', ratio: 40, collapseOrder: 1, minWidth: 150, field: 'Date'},
                                { titleResx: 'string_2628', ratio: 40, collapseOrder: 2, minWidth: 60, field: 'AvailableQuantity'},
                                { titleResx: 'string_2604', ratio: 20, collapseOrder: 3, minWidth: 60, field: 'UnitOfMeasure'}
                            ]
                        },
                        axBubbleAttr: 'inventoryAvailableToPromiseView_availabilities'"></div>

                    <script type="text/html" id="emptyInventoryAvailableToPromiseGridMessage">
                        <div class="center textCenter">
                            <div class="h4" data-bind="visible: !hasProduct(), resx: { textContent: 'string_2619' }">Scan or search for a product to get started</div>
                            <div class="h4" data-bind="visible: productNotAvailableAtNearbyStores, resx: { textContent: 'string_2625' }">This product is not available at nearby stores</div>
                        </div>
                    </script>
                </div>

                <div class="gutter40x40 hideInPortrait"></div>

                <div class="row">
                    <!-- Views for Product Details -->
                    <div class="col grow width240" data-bind="sectionWrapper: {headerResx: 'string_2608'}">
                        <!-- Product -->
                        <!-- Product content when product is chosen -->
                        <div class="maxHeight232 col highContrastBorder" data-bind="visible: hasProduct, if: hasProduct">
                            <div class="height160">
                                <div class="height232 fit-image">
                                    <img src="#" data-bind="attr: { src: Commerce.Formatters.ImageUrlFormatter(productImage().source, Commerce.DefaultImages.ProductLarge) }, setImageOnError: Commerce.DefaultImages.ProductLarge" />
                                </div>
                            </div>
                            <div class="padLeft12 height72 padRight12 padTop12 primaryBackgroundColor overLayZIndex">
                                <div class="h4 ellipsis" data-bind="text: productName"></div>
                                <div class="height12 padTop02">
                                    <div class="h6 secondaryFontColor ellipsis" data-bind="text: productItemId"></div>
                                </div>
                                <div>
                                    <div class="h3 textRight ellipsis" data-bind="formatPrice: productPriceViewModel.productPrice"></div>
                                </div>
                            </div>
                            <div class="padTop20">
                                <div class="h4 ellipsis" data-bind="text: variantDimensionValues"></div>
                            </div>
                        </div>
                        <div class="height232 col highContrastBorder grow primaryPanelBackgroundColor" data-bind="visible: !hasProduct()">
                            <div class="center pad32">
                                <div class="textCenter">
                                    <div class="h4" data-bind="resx: { textContent: 'string_2619' }">Scan or search for a product to get started</div>
                                </div>
                            </div>
                        </div>

                        <div class="gutter20x20"></div>
                        <!-- Uom for the given product -->
                        <div class="col width240" data-bind="visible: hasProduct() && hasItemAvailabilities()">
                            <div class="row">
                                <label data-bind="resx: { textContent: 'string_2825' }"></label>
                            </div>
                            <div class="row marginBottom20">
                                <div class="h1" data-bind="text: Commerce.Formatters.UnitOfMeasureFromAvailableToPromiseFormatter(availabilities())"></div>
                            </div>

                        </div>
                    </div>

                    <div class="col grow">
                        <div class="gutter40x40"></div>
                    </div>
                </div>

                <!-- Views for Numpad -->
                <div class="width320 grow marginTop12 marginBottom20" data-bind="axBubbleAttr: 'inventoryAvailableToPromiseView_inventoryLookupNumpad'">
                    <!-- Numpad is not in slider yet, so label should be h2 -->
                    <!-- can use "labelDataBinding" for numpad slider uptake -->
                    <h2 data-bind="resx: { textContent: 'string_2620' }"></h2> <!-- Search products -->
                    <div data-bind="alphanumericNumpad: {
                                inputDataBinding: { resx: { ariaLabel: 'string_2620' /* Search products */ } },
                                onEnter: findInventoriesByKeyword,
                                value: searchKeyword,
                                numPadInputSource: $parent.numPadInputBroker
                         }">
                    </div>
                </div>
            </div>

            <div id="commandAppBar" data-bind="appBar: {}, axBubbleAttr: 'inventoryLookupView_commandAppBar'">
                <button data-bind="appBarCommand: {
                    extraClass: 'iconSearch',
                    id:'searchForProduct',
                    onclick: searchForProduct,
                    labelResx: 'string_2609'}, axBubbleAttr: 'inventoryLookupView_searchForProductButton'"></button><!--search Product-->

                <button data-bind="appBarCommand: {
                    extraClass: 'iconAdd',
                    id:'addToTransaction',
                    enabled: allowAddToTransaction(),
                    onclick: addToTransaction,
                    labelResx: 'string_2612'}, axBubbleAttr: 'inventoryLookupView_addToTransactionButton'"></button><!--add to transaction-->
            </div>
        </div>
    </div>
</body>
</html>
