<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>StockCountDetailsView</title>
    <link href="StockCountDetailsView.css" rel="stylesheet" />
</head>
<body>
    <div class="fragment stockCountDetailsView">

        <!-- Indeterminate wait -->
        <div data-bind="loader: { visible: stockCountViewModel.isBusy }"></div>

        <!-- Page header -->
        <div data-bind="headerSplitView: { titleResx: 'string_3301' }">
            <div id="recentPurchasePivot" data-bind="pivot: { headerItemsAxBubbleAttr: 'stockCountDetailsView_pivotItemsHeader' }, resx: { ariaLabel: 'string_4454' }">
                <div id="recentPurchasePivotProducts" class="col grow" data-bind="pivotItem: { headerResx: viewSubTitle }">
                    <!-- Main content -->
                    <!-- View for Stock Count Grid view -->
                    <div class="col grow height100Percent">
                        <!-- Products Grid -->
                        <div id="stockCountDetailsView_dataList" class="grow" data-bind="dataList: {
                            itemDataSource: stockCountViewModel.stockCountLines,
                            selectionModes: Commerce.Controls.DataList.SelectionMode.SingleSelect,
                            selectionChanged: stockCountViewModel.productSelectionChanged.bind(stockCountViewModel),
                            ariaLabelResx: 'string_3387',
                            columns: stockCountViewModel.stockCountLinesColumns
                            },
                            axBubbleAttr: 'stockCountDetailsView_listView'">
                        </div>

                        <div class="padBottom12">
                            <!-- Total count results footer -->
                            <div class="row padTop8 padBottom8 primaryPanelBarColor">
                                <div class="ratio3 padLeft12 padRight12">
                                    <div class="h4" data-bind="text: stockCountViewModel.totalProducts"></div>
                                    <div class="h4 secondaryFontColor" data-bind="resx: { textContent: 'string_3360' }"></div>
                                </div>
                                <div class="ratio3 textRight padLeft12 padRight12">
                                    <div class="h4" data-bind="text: stockCountViewModel.totalCounted"></div>
                                    <div class="h4 secondaryFontColor" data-bind="resx: { textContent: 'string_3361' }"></div>
                                </div>
                                <div class="ratio4 textRight padLeft12 padRight12">
                                    <div class="h4" data-bind="text: stockCountViewModel.totalQuantity"></div>
                                    <div class="h4 secondaryFontColor" data-bind="resx: { textContent: 'string_3362' }"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="commandAppBar" data-bind="appBar:{ extensionCommands: stockCountViewModel.extensionCommandViewModels }, axBubbleAttr: 'stockCountDetailsView_commandAppBar'">
                <!-- Location dialog for advanced warehousing process-->
                <button data-bind="appBarCommand: {
                    extraClass: 'iconMapPin',
                    id:'changeLocation',
                    labelResx: 'string_3876',
                    onclick: stockCountViewModel.showLocationDialogAsync.bind(stockCountViewModel),
                    visible: stockCountViewModel.isAdvancedWarehousingEnabled }, axBubbleAttr: 'stockCountDetailsView_locationButton'"></button>

                <!-- Opens dialog to add a new product -->
                <button data-bind="appBarCommand: {
                    id: 'addProduct',
                    extraClass: 'iconAdd',
                    onclick: stockCountViewModel.addNewProductHandler.bind(stockCountViewModel),
                    labelResx: 'string_923'}, axBubbleAttr: 'stockCountDetailsView_addProductButton'"></button>

                <!-- Opens dialog to edit quantity -->
                <button data-bind="appBarCommand: {
                    id:'addQuantity',
                    extraClass: 'iconQuantity',
                    onclick: stockCountViewModel.performEditQuantity.bind(stockCountViewModel),
                    enabled: stockCountViewModel.isStockCountLineSelected,
                    labelResx: 'string_3374'}, axBubbleAttr: 'stockCountDetailsView_addQuantityButton'"></button>

                <!-- Remove line -->
                <button data-bind="appBarCommand: {
                    extraClass: 'iconDelete',
                    id:'removeProductLine',
                    onclick: stockCountViewModel.deleteProductLine.bind(stockCountViewModel),
                    labelResx: 'string_3320',
                    enabled: stockCountViewModel.isStockCountLineSelected}, axBubbleAttr: 'stockCountDetailsView_removeProductLineButton'"></button>

                <!-- Refresh -->
                <button data-bind="appBarCommand: {
                    extraClass: 'iconRefresh',
                    id:'refreshProductLines',
                    onclick: stockCountViewModel.refreshProductLinesValidator.bind(stockCountViewModel),
                    labelResx: 'string_3325',
                    disabled: stockCountViewModel.disableRefreshProductsInJournal}, axBubbleAttr: 'stockCountDetailsView_refreshProductLinesButton'"></button>

                <!-- Save -->
                <button data-bind="appBarCommand: {
                    extraClass: 'iconSave',
                    id:'saveJournal',
                    onclick: stockCountViewModel.saveJournalValidator.bind(stockCountViewModel),
                    labelResx: 'string_3324',
                    enabled: stockCountViewModel.hasStockCountLines}, axBubbleAttr: 'stockCountDetailsView_saveJournalButton'"></button>

                <!-- Commit -->
                <button data-bind="appBarCommand: {
                    extraClass: 'iconAccept',
                    id:'commitJournal',
                    onclick: stockCountViewModel.commitJournalValidator.bind(stockCountViewModel),
                    labelResx: 'string_3323',
                    enabled: stockCountViewModel.hasStockCountLines}, axBubbleAttr: 'stockCountDetailsView_commitJournalButton'"></button>
            </div>
        </div>
    </div>
</body>
</html>
