<!DOCTYPE html>
<html>
<head>
    <title>Add Charges Template</title>
    <link href="WarehouseTemplate.min.css" rel="stylesheet" />
</head>
<body>
    <!-- Card style list for addCharges location selection dialog -->
    <script id="addChargesLocationGridTemplate" type="text/html">
        <div class="warehouseItemContainer">
            <div class="accentBackground">
                <div class="row centerY">
                    <div class="bottomLeft grow pad12">
                        <div class="margin0 h5 ellipsis maxWidth220" data-bind="text: Code"></div>
                    </div>
                </div>
            </div>
        </div>
    </script>
</body>
</html>
