<!DOCTYPE html>
<html>
<head>
    <title>Payment Grid Templates</title>
</head>
<body>

    <!-- Binding template for the CartPage payment grid header row. -->
    <script type="text/html" id="cartPaymentGridHeaderTemplate">
        <div class="tillLayout-PaymentMethodField">
            <div class="h6" data-bind="resx: { textContent: 'string_114' }">PAYMENT METHOD</div>
        </div>
        <div class="tillLayout-CurrencyField textRight">
            <div class="h6" data-bind="resx: { textContent: 'string_115' }">CURRENCY</div>
        </div>
        <div class="tillLayout-AmountField textRight">
            <div class="h6" data-bind="resx: { textContent: 'string_116' }">AMOUNT</div>
        </div>
        <!-- ko if: templateViewModel.customColumnsViewModel.customColumn1.isVisible() -->
        <div class="tillLayout-CustomColumn1" data-bind="css: { textRight: templateViewModel.customColumnsViewModel.customColumn1.alignment() === Commerce.Extensibility.CustomGridColumnAlignment.Right }">
            <div class="h6" data-bind="text: templateViewModel.customColumnsViewModel.customColumn1.title()">CUSTOM COLUMN 1</div>
        </div>
        <!-- /ko -->
        <!-- ko if: templateViewModel.customColumnsViewModel.customColumn2.isVisible() -->
        <div class="tillLayout-CustomColumn2" data-bind="css: { textRight: templateViewModel.customColumnsViewModel.customColumn2.alignment() === Commerce.Extensibility.CustomGridColumnAlignment.Right }">
            <div class="h6" data-bind="text: templateViewModel.customColumnsViewModel.customColumn2.title()">CUSTOM COLUMN 2</div>
        </div>
        <!-- /ko -->
        <!-- ko if: templateViewModel.customColumnsViewModel.customColumn3.isVisible() -->
        <div class="tillLayout-CustomColumn3" data-bind="css: { textRight: templateViewModel.customColumnsViewModel.customColumn3.alignment() === Commerce.Extensibility.CustomGridColumnAlignment.Right }">
            <div class="h6" data-bind="text: templateViewModel.customColumnsViewModel.customColumn3.title()">CUSTOM COLUMN 3</div>
        </div>
        <!-- /ko -->
        <!-- ko if: templateViewModel.customColumnsViewModel.customColumn4.isVisible() -->
        <div class="tillLayout-CustomColumn4" data-bind="css: { textRight: templateViewModel.customColumnsViewModel.customColumn4.alignment() === Commerce.Extensibility.CustomGridColumnAlignment.Right }">
            <div class="h6" data-bind="text: templateViewModel.customColumnsViewModel.customColumn4.title()">CUSTOM COLUMN 4</div>
        </div>
        <!-- /ko -->
        <!-- ko if: templateViewModel.customColumnsViewModel.customColumn5.isVisible() -->
        <div class="tillLayout-CustomColumn5" data-bind="css: { textRight: templateViewModel.customColumnsViewModel.customColumn5.alignment() === Commerce.Extensibility.CustomGridColumnAlignment.Right }">
            <div class="h6" data-bind="text: templateViewModel.customColumnsViewModel.customColumn5.title()">CUSTOM COLUMN 5</div>
        </div>
        <!-- /ko -->
        <!-- ko if: templateViewModel.customColumnsViewModel.customColumn6.isVisible() -->
        <div class="tillLayout-CustomColumn6" data-bind="css: { textRight: templateViewModel.customColumnsViewModel.customColumn6.alignment() === Commerce.Extensibility.CustomGridColumnAlignment.Right }">
            <div class="h6" data-bind="text: templateViewModel.customColumnsViewModel.customColumn6.title()">CUSTOM COLUMN 6</div>
        </div>
        <!-- /ko -->
        <!-- ko if: templateViewModel.customColumnsViewModel.customColumn7.isVisible() -->
        <div class="tillLayout-CustomColumn7" data-bind="css: { textRight: templateViewModel.customColumnsViewModel.customColumn7.alignment() === Commerce.Extensibility.CustomGridColumnAlignment.Right }">
            <div class="h6" data-bind="text: templateViewModel.customColumnsViewModel.customColumn7.title()">CUSTOM COLUMN 7</div>
        </div>
        <!-- /ko -->
        <!-- ko if: templateViewModel.customColumnsViewModel.customColumn8.isVisible() -->
        <div class="tillLayout-CustomColumn8" data-bind="css: { textRight: templateViewModel.customColumnsViewModel.customColumn8.alignment() === Commerce.Extensibility.CustomGridColumnAlignment.Right }">
            <div class="h6" data-bind="text: templateViewModel.customColumnsViewModel.customColumn8.title()">CUSTOM COLUMN 8</div>
        </div>
        <!-- /ko -->
        <!-- ko if: templateViewModel.customColumnsViewModel.customColumn9.isVisible() -->
        <div class="tillLayout-CustomColumn9" data-bind="css: { textRight: templateViewModel.customColumnsViewModel.customColumn9.alignment() === Commerce.Extensibility.CustomGridColumnAlignment.Right }">
            <div class="h6" data-bind="text: templateViewModel.customColumnsViewModel.customColumn9.title()">CUSTOM COLUMN 9</div>
        </div>
        <!-- /ko -->
        <!-- ko if: templateViewModel.customColumnsViewModel.customColumn10.isVisible() -->
        <div class="tillLayout-CustomColumn10" data-bind="css: { textRight: templateViewModel.customColumnsViewModel.customColumn10.alignment() === Commerce.Extensibility.CustomGridColumnAlignment.Right }">
            <div class="h6" data-bind="text: templateViewModel.customColumnsViewModel.customColumn10.title()">CUSTOM COLUMN 10</div>
        </div>
        <!-- /ko -->
    </script>

    <!-- Binding template for the CartPage payment grid header row. -->
    <script type="text/html" id="cartPaymentGridRowTemplate">
        <div class="tillLayout-PaymentMethodField">
            <div class="h5" data-bind="textConverter: { data: dataRow, field: '$data', converter: 'Commerce.Core.Converter.TenderLineTypeNameFormatter', defaultValue: '', type: 'text', ariaLabel: 'true', columnToBindResx: 'string_114' }"></div>
        </div>
        <div class="tillLayout-CurrencyField textRight">
            <div class="h5" data-bind="textConverter: { data: dataRow, field: 'Currency', defaultValue: '', type: 'text', ariaLabel: 'true', columnToBindResx: 'string_115' }"></div>
        </div>
        <div class="tillLayout-AmountField textRight">
            <div class="h5" data-bind="textConverter: { data: dataRow, field: '$data', converter: 'Commerce.Core.Converter.AmountInTenderedCurrencyFormatter', defaultValue: '', type: 'text', ariaLabel: 'true', columnToBindResx: 'string_116' }"></div>
        </div>
        <!-- ko if: templateViewModel.customColumnsViewModel.customColumn1.isVisible() -->
        <div class="tillLayout-CustomColumn1" data-bind="css: { textRight: templateViewModel.customColumnsViewModel.customColumn1.alignment() === Commerce.Extensibility.CustomGridColumnAlignment.Right }">
            <div class="h5" data-bind="textConverter: { data: dataRow, field: '$data', converter: templateViewModel.customColumnsViewModel.customColumn1, defaultValue: '', type: 'text' }"></div>
        </div>
        <!-- /ko -->
        <!-- ko if: templateViewModel.customColumnsViewModel.customColumn2.isVisible() -->
        <div class="tillLayout-CustomColumn2" data-bind="css: { textRight: templateViewModel.customColumnsViewModel.customColumn2.alignment() === Commerce.Extensibility.CustomGridColumnAlignment.Right }">
            <div class="h5" data-bind="textConverter: { data: dataRow, field: '$data', converter: templateViewModel.customColumnsViewModel.customColumn2, defaultValue: '', type: 'text' }"></div>
        </div>
        <!-- /ko -->
        <!-- ko if: templateViewModel.customColumnsViewModel.customColumn3.isVisible() -->
        <div class="tillLayout-CustomColumn3" data-bind="css: { textRight: templateViewModel.customColumnsViewModel.customColumn3.alignment() === Commerce.Extensibility.CustomGridColumnAlignment.Right }">
            <div class="h5" data-bind="textConverter: { data: dataRow, field: '$data', converter: templateViewModel.customColumnsViewModel.customColumn3, defaultValue: '', type: 'text' }"></div>
        </div>
        <!-- /ko -->
        <!-- ko if: templateViewModel.customColumnsViewModel.customColumn4.isVisible() -->
        <div class="tillLayout-CustomColumn4" data-bind="css: { textRight: templateViewModel.customColumnsViewModel.customColumn4.alignment() === Commerce.Extensibility.CustomGridColumnAlignment.Right }">
            <div class="h5" data-bind="textConverter: { data: dataRow, field: '$data', converter: templateViewModel.customColumnsViewModel.customColumn4, defaultValue: '', type: 'text' }"></div>
        </div>
        <!-- /ko -->
        <!-- ko if: templateViewModel.customColumnsViewModel.customColumn5.isVisible() -->
        <div class="tillLayout-CustomColumn5" data-bind="css: { textRight: templateViewModel.customColumnsViewModel.customColumn5.alignment() === Commerce.Extensibility.CustomGridColumnAlignment.Right }">
            <div class="h5" data-bind="textConverter: { data: dataRow, field: '$data', converter: templateViewModel.customColumnsViewModel.customColumn5, defaultValue: '', type: 'text' }"></div>
        </div>
        <!-- /ko -->
        <!-- ko if: templateViewModel.customColumnsViewModel.customColumn6.isVisible() -->
        <div class="tillLayout-CustomColumn6" data-bind="css: { textRight: templateViewModel.customColumnsViewModel.customColumn6.alignment() === Commerce.Extensibility.CustomGridColumnAlignment.Right }">
            <div class="h5" data-bind="textConverter: { data: dataRow, field: '$data', converter: templateViewModel.customColumnsViewModel.customColumn6, defaultValue: '', type: 'text' }"></div>
        </div>
        <!-- /ko -->
        <!-- ko if: templateViewModel.customColumnsViewModel.customColumn7.isVisible() -->
        <div class="tillLayout-CustomColumn7" data-bind="css: { textRight: templateViewModel.customColumnsViewModel.customColumn7.alignment() === Commerce.Extensibility.CustomGridColumnAlignment.Right }">
            <div class="h5" data-bind="textConverter: { data: dataRow, field: '$data', converter: templateViewModel.customColumnsViewModel.customColumn7, defaultValue: '', type: 'text' }"></div>
        </div>
        <!-- /ko -->
        <!-- ko if: templateViewModel.customColumnsViewModel.customColumn8.isVisible() -->
        <div class="tillLayout-CustomColumn8" data-bind="css: { textRight: templateViewModel.customColumnsViewModel.customColumn8.alignment() === Commerce.Extensibility.CustomGridColumnAlignment.Right }">
            <div class="h5" data-bind="textConverter: { data: dataRow, field: '$data', converter: templateViewModel.customColumnsViewModel.customColumn8, defaultValue: '', type: 'text' }"></div>
        </div>
        <!-- /ko -->
        <!-- ko if: templateViewModel.customColumnsViewModel.customColumn9.isVisible() -->
        <div class="tillLayout-CustomColumn9" data-bind="css: { textRight: templateViewModel.customColumnsViewModel.customColumn9.alignment() === Commerce.Extensibility.CustomGridColumnAlignment.Right }">
            <div class="h5" data-bind="textConverter: { data: dataRow, field: '$data', converter: templateViewModel.customColumnsViewModel.customColumn9, defaultValue: '', type: 'text' }"></div>
        </div>
        <!-- /ko -->
        <!-- ko if: templateViewModel.customColumnsViewModel.customColumn10.isVisible() -->
        <div class="tillLayout-CustomColumn10" data-bind="css: { textRight: templateViewModel.customColumnsViewModel.customColumn10.alignment() === Commerce.Extensibility.CustomGridColumnAlignment.Right }">
            <div class="h5" data-bind="textConverter: { data: dataRow, field: '$data', converter: templateViewModel.customColumnsViewModel.customColumn10, defaultValue: '', type: 'text' }"></div>
        </div>
        <!-- /ko -->
    </script>

</body>
</html>