<!DOCTYPE html>
<html>
<head>
    <title>Sales Representative Templates</title>
    <link href="SalesRepresentativeTemplate.min.css" rel="stylesheet" />
</head>
<body>
    <!-- Card style list for salesRepresentative selection dialog -->
    <script id="salesRepresentativeGridTemplate" type="text/html">
        <div class="salesRepresentativeItemContainer">
            <div class="accentBackground">
                <div class="row centerY">
                    <div class="bottomLeft grow pad12">
                        <div class="margin0 h5 ellipsis maxWidth220" data-bind="text: Name"></div>
                        <div class="margin0 h6 textTransformNone opacity60 ellipsis maxWidth220" data-bind="text: GroupId"></div>
                    </div>
                </div>
            </div>
        </div>
    </script>
</body>
</html>
